<div class="mb10">
    <div class="font-weight-bold">
        <% if (provider.onclick) { %>
            <a style="color: blue;" href="javascript:void(0);" onclick="<%= provider.onclick %>"><%= provider.name %></a>
        <% } else {
            print(provider.name);
        } %>
    </div>

    <!-- Address / Email -->
    <div class="mb10">
        <% if (provider.address1) { %>
        <div>
            <%= provider.address1 %>
        </div>
        <% } %>

        <% if (provider.city || provider.state || provider.zip) { %>
        <div>
            <% if (provider.city) { print(provider.city + ', ') } %>
            <%= provider.state %>
            <%= provider.zip %>
            <% if (provider.zip && provider.zip_plus) { print('-' + provider.zip_plus) } %>
        </div>
        <% } %>

        <% if (provider.email) { %>
        <div>
            <%= provider.email %>
        </div>
        <% } %>
    </div>

    <!-- Phone / Fax -->
    <div class="mb10">
        <% if (provider.office_phone) { %>
        <div>
            <div class="ib w100"><%= labels.office_phone %></div>
            <div class="ib"><%= provider.office_phone %></div>
        </div>
        <% } %>

        <% if (provider.office_fax) { %>
        <div>
            <div class="ib w100"><%= labels.office_fax %></div>
            <div class="ib"><%= provider.office_fax %></div>
        </div>
        <% } %>

        <% if (provider.mobile) { %>
        <div>
            <div class="ib w100"><%= labels.mobile %></div>
            <div class="ib"><%= provider.mobile %></div>
        </div>
        <% } %>

        <% if (provider.pager) { %>
        <div>
            <div class="ib w100"><%= labels.pager %></div>
            <div class="ib"><%= provider.pager %></div>
        </div>
        <% } %>

        <% if (provider.phone) { %>
        <div>
            <div class="ib w100"><%= labels.phone %></div>
            <div class="ib"><%= provider.phone %></div>
        </div>
        <% } %>

        <% if (provider.fax) { %>
        <div>
            <div class="ib w100"><%= labels.fax %></div>
            <div class="ib"><%= provider.fax %></div>
        </div>
        <% } %>
    </div>

    <!-- Provider Alerts -->
    <div>
        <%= provider.provider_alerts %>
    </div>
</div>
