<script type="text/html" id="header">
    <button class="chat-modal__back js_chat-modal-member-searcher__back">back</button>
    <p class="chat-modal__title" i18n="chat.labels.addUser">Add User</p>
</script>
<script type="text/html" id="body">
    <input class="chat-modal__input js_chat-modal__input" type="text" name=""
           i18np="chat.labels.searchByName">
    <div class="chat-modal-users" id="js_chat-search-result-holder" data-type="addUser">
    </div>
</script>
<script type="text/html" id="footer">
</script>

