<div class="modals js_modals modals_open">
    <div class="chat-modal-wrap">
        <div class="chat-modal-scroll js_chat-modal-scroll">
            <div class="chat-modal-overlay js_chat-modal-overlay"></div>
            <div class="chat-modal">
                <div class="chat-modal-header">
                    <div class="chat-modal-header-content"></div>
                    <button class="chat-modal__close js_chat-modal__close"></button>
                </div>
                <div class="chat-modal-body">
                </div>
                <div class="chat-modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
