<script type="text/html" id="header">
    <p class="chat-modal__title"  i18n="chat.labels.addPrivateRoom">Add private room</p>
</script>
<script type="text/html" id="body">
    <input class="chat-modal__input js_chat-modal__input" type="text" name=""
           i18np="chat.labels.searchByName">
    <div class="chat-modal-users" id="js_chat-search-result-holder" data-type="addPrivateRoom">
    </div>
</script>
<script type="text/html" id="footer">
    <div class="chat-modal-footer">
        <button class="btn chat-modal__add-btn js_chat-modal__add-multiuser-room" i18n="chat.labels.newMultiUserRoom">Add Multi-User Chat Room</button>
    </div>
</script>

