/node_modules/**
/app/node_modules/**
/app/libs/**
/app/fonts/**
/app/images/**
/app/resx/**
/app/build/**
/dist/**
/build/**
/build2/**
/test/**
/modules/reporting/**
/modules/ohip/**
.eslintrc.js
gulpfile.js
dbManager.js

# temporarily ignore files and directories that are not yet ready for linting
/app/js/main.js

# lots of errors here, so saving it for later
/app/js/shared/common.js
/app/js/shared/grid.js
