image: node:18.17.1
clone:
  depth: full # SonarCloud scanner needs the full history to assign issues properly
definitions:
  services:
    docker:
      memory: 7128
  caches:
    sonar: ~/.sonar/cache # Caching SonarCloud artifacts will speed up your build
  steps:
    - step: &step_analyze-with-sonar
        name: SonarQube Code Analysis
        size: 2x
        caches:
          - node
          - sonar
        services:
          - docker
        script:
          #- echo "running SonarQube analysis. project [$BITBUCKET_PROJECT_KEY], repo [$BITBUCKET_REPO_SLUG]..."
          - pipe: sonarsource/sonarcloud-scan:2.0.0
            variables:
              SONAR_TOKEN: $KMHA_SONARCLOUD_TOKEN
              EXTRA_ARGS: "-Dsonar.organization=kmha -Dsonar.projectKey=$BITBUCKET_REPO_SLUG -Dsonar.sources=. -Dsonar.javascript.node.maxspace=4096 -Dsonar.inclusions=sonar.inclusions=app/**/*.js,bin/**/*,lib/**/*.js,logger/**/*.js,modules/**/*.js,server/**/*.js -Dsonar.exclusions=**/node_modules/**,test/**/*"
              SONAR_SCANNER_OPTS: -Xmx2048m
              DEBUG: "false"
    - step: &step_lint-with-eslint
        name: ESLint Code Analysis
        caches:
          - node
        artifacts: # defining the artifacts to be passed to each future step.
          - test-reports/**
        script:
          - npm ci --progress false --audit false
          # lint using project settings (also uses JSON plugin)
          - npx eslint --format "junit" --output-file "./test-reports/eslint.junit.xml" "."
    - step: &trigger_jenkins_job
        name: Trigger Jenkins job
        script:
          - echo "BB_SRC_BRANCH=$BITBUCKET_BRANCH, BB_DEST_BRANCH=$BITBUCKET_PR_DESTINATION_BRANCH, BITBUCKET_REPO_FULL_NAME=$BITBUCKET_REPO_FULL_NAME, BB_USER_UUID=$BITBUCKET_STEP_TRIGGERER_UUID, BITBUCKET_COMMIT=$BITBUCKET_COMMIT, BITBUCKET_REPO_SLUG=$BITBUCKET_REPO_SLUG"
          - curl --http0.9 -k -X POST -u bitbucket_api:$KMHA_JENKINS_API_PWD https://exa-ci.kmhcit.com/api/job/EXA-Platform/view/ConfigMgrs/job/Config-Managers/job/Handle-Bitbucket-PR-Trigger/buildWithParameters -F BB_SRC_BRANCH=$BITBUCKET_BRANCH -F BB_DEST_BRANCH=$BITBUCKET_PR_DESTINATION_BRANCH -F BITBUCKET_REPO_FULL_NAME=$BITBUCKET_REPO_FULL_NAME -F BB_USER_UUID=$BITBUCKET_STEP_TRIGGERER_UUID -F BITBUCKET_COMMIT=$BITBUCKET_COMMIT -F BITBUCKET_REPO_SLUG=$BITBUCKET_REPO_SLUG --output curl.txt
pipelines:
  #branches:
  #  development:
  #    - step: *step_test-slack-notifier
  custom:
    analyze-with-sonar:
      - step: *step_analyze-with-sonar
    lint-with-eslint:
      - step: *step_lint-with-eslint
  pull-requests:
    '{feature/*}':
      - step: *step_lint-with-eslint
      - step: *trigger_jenkins_job
