<style>
    .line_height{
        line-height: 0.5;
    }
    .form-list .form-group .col-form-label{
        width: 140px;
    }
    .alignLeft{
        margin-right: 10px;
    }
</style>
<form class="form-horizontal form-list">
    <div id="inquiryInvoice">
        <input type="button" value="patientInquiry" id="btnCIPatientInquiry">
        <input type="button" value="printInvoice" id="btnCIPrintInvoice">
    </div>
    <div id="encounterDetails"> 
        <legend class="viztekLegend" i18n="order.chargePayment.encounterDetails" style="font-weight: bold;font-size: 15px">Encounter Details</legend>
        <div class="col-xs-4">
            <div class="form-group form-inline line-height">
                <div class="col-form-label">
                    <label class="font-weight">Reading Physician</label>
                </div>
                <div class="alignLeft">
                    <label id="lblCIReadPhy"></label>
                </div>
            </div>
            <div class="form-group form-inline line-height">
                <div class="col-form-label alignRight">
                    <label class="font-weight">Referring Physician</label>
                </div>
                <div>
                    <label id="lblCIRefPhy"></label>
                </div>
            </div>
            <div class="form-group form-inline line-height">
                <div class="col-form-label alignRight">
                    <label class="font-weight">Ordering Facility</label>
                </div>
                <div>
                    <label id="lblCIOrdFac"></label>
                </div>
            </div>
            <div class="form-group form-inline line-height">
                <div class="col-form-label alignRight">
                    <label class="font-weight">Facility</label>
                </div>
                <div>
                    <label id="lblCIfac"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
                <div class="form-group form-inline line-height">
                    <div class="col-form-label alignRight">
                        <label class="font-weight">Claim Status</label>
                    </div>
                    <div>
                        <label id="lblCIStatus"></label>
                    </div>
                </div>
                <div class="form-group form-inline line-height">
                    <div class="col-form-label alignRight">
                        <label class="font-weight">Patient Paid</label>
                    </div>
                    <div>
                        <label id="lblCIPatientPaid"></label>
                    </div>
                </div>
                <div class="form-group form-inline line-height">
                    <div class="col-form-label alignRight">
                        <label class="font-weight">Others Paid</label>
                    </div>
                    <div>
                        <label id="lblCIOthersPaid"></label>
                    </div>
                </div>
                <div class="form-group form-inline line-height">
                    <div class="col-form-label alignRight">
                        <label class="font-weight">Bill Fee</label>
                    </div>
                    <div>
                        <label id="lblCIBillFee"></label>
                    </div>
                </div>
        </div>
        <div class="col-xs-4">
                <div class="form-group form-inline line-height">
                    <div class="col-form-label alignRight">
                        <label class="font-weight">Adjustment</label>
                    </div>
                    <div>
                        <label id="lblCIAdj"></label>
                    </div>
                </div>
                <div class="form-group form-inline line-height">
                    <div class="col-form-label alignRight">
                        <label class="font-weight">Balance</label>
                    </div>
                    <div>
                        <label id="lblCIBalance"></label>
                    </div>
                </div>
                <div class="form-group form-inline line-height">
                    <div class="col-form-label alignRight">
                        <label class="font-weight">Allowed</label>
                    </div>
                    <div>
                        <label id="lblCIAllowed"></label>
                    </div>
                </div>
        </div>
        <legend class="viztekLegend" style="font-size: 15px;font-weight: bold">Diagnosis</legend>
        <div class="col-md-12">
            <div style="min-height:150px;">
                <div class="Grid" style="min-height:150px;">
                    <table id='tblCIDiagnosis'></table>
                </div>
            </div>
        </div>
        <legend class="viztekLegend" style="font-size: 15px;font-weight: bold">Insurance</legend>
        <div class="col-md-12">
            <div style="min-height:150px;">
                <div class="Grid" style="min-height:150px;">
                    <table id='tblCIInsurance'></table>
                </div>
            </div>
        </div>
        <div>
            <div class="col-xs-12" style="margin-top: -30px;">
                    <div class="col-xs-6">
                        <div class="form-group form-inline">
                            <div class="col-xs-3">
                                <label class="control-label" style="font-weight: bold">FollowUp Date</label>
                            </div>
                            <div class="col-xs-6">
                                <div id="divFollowUpDate" class="input-group">
                                    <input type="text" id="txtFollowUpDate"class="form-control maskDateMonth" name="followUpDate">
                                    <span class="input-group-addon add-on"> <i class="icon-ic-schedule"></i> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" id="btnSaveCommentReport" class=" btn btn-primary" value="Save"
                            i18n="shared.buttons.save" style="float: right;line-height: 1">
                    <input type="button" id="btnAddComment" class=" btn btn-danger" value="Save" i18n="shared.buttons.add"
                            style="float:right;margin-right: 5px;line-height: 1">
            </div>
            <div class="col-xs-12" style="margin-left: 0px !important;margin-top: 5px; padding-left: 0;">
                <div style="min-height:150px;">
                    <div class="Grid" style="min-height:150px;">
                        <table id='tblCIClaimComments'></table>
                        <div id="gridPager_CIClaimComment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>