<div id="divPendingPaymentsContainer">
    <div class="tabbable" style="margin-top:20px;margin-bottom: 20px;">


        <ul id="claimsTabs" class="nav nav-tabs">
            <li id="liPendingPayments" class="nav-item">
                <a href="#divPendingPayments" data-container="All_Claims" class="nav-link active show" data-toggle="tab" i18n="billing.payments.pendingPayments"
                    title="All Claims">All Claims</a>
            </li>
            <li id="liAppliedPayments" class="nav-item">
                <a href="#divApplidPayments" data-container="Follow_up_queue" i18n="billing.payments.appliedPayments" class="nav-link" data-toggle="tab"
                    title="Follow-Up Queue">Follow-Up Queue</a>
            </li>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-content">
                <div class="tab-pane active" id="divPendingPayments">
                    <div>
                        <div align="right" style="margin-bottom:5px;">
                            <input type="button" value="Refresh" id="btnPaymentRefresh" i18n="shared.buttons.refresh" class="btn pendRefresh">
                        </div>
                        <div class='Grid' id='divGrid_pendPayments'>
                            <table id="tblpendPaymentsGrid"></table>
                            <div id="gridPager_pendPayments"></div>
                        </div>
                        <div id="pendPaymentsBalSummary" align="center" style="margin-top:10px;">
                            <table id="tblPendPaymentBal" class="table table-bordered" style="width:50%!important;">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="divApplidPayments">
                    <div>
                        <div align="right" style="margin-bottom:5px;">

                            <input type="button" value="Refresh" id="btnAppliedPayRefresh" i18n="shared.buttons.refresh" class="btn appliedRefresh">
                        </div>
                        <div class='Grid' id='divGrid_appliedPayments'>
                            <table id="tblAppliedPaymentsGrid"></table>
                            <div id="gridPager_appliedPayments"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>