<style>
    #site_modal_div_container {
        background: #ffffff;
        border: solid 1px;
        display: none;
        position: absolute;
        border-radius: 10px;
        z-index: 10000;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 93%;
        overflow: auto;
        padding: 0px 5px 0px;
        top: 12%;
        left: 3%;
    }

    #ulSortList {
        overflow: auto;
        list-style-type: none;
    }

    ol.vertical li {
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid;
        border-color: #CCC;
        font-weight: bold;
    }

    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }

    ol.vertical li.placeholder {
        position: relative;
    }
    ol.vertical li.placeholder:before {
        position: absolute;
    }

</style>


<div id="divForm_Mysettings" class="divBackgroundPayment form-horizontal form-list commonBorder" style="display: block; height: 100%;overflow:hidden">
    <div style="text-align: right;width: 100%;">
        <input type="button" class="btn btn-danger mt-1 mr-1" id="save_settings" name="save" i18n="shared.buttons.save">
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 dragdropDiv flex-parent-vert" id="divBillingColumnOrdersList">
            <legend class="viztekLegend">
                <h5 i18n="setup.userSettings.headings.columnSort"></h5>
            </legend>
            <ol id="ulSortList" class="simple_with_animation vertical flex-fill">
            </ol>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 dragdropDiv flex-parent-vert" id="divBillingUserSettingsSummary">
            <legend class="viztekLegend">
                <h5 i18n="setup.userSettings.headings.settings"></h5>
            </legend>
            <div class="form-horizontals">
                <div class="form-group row">
                    <div class="col-sm-4 col-form-label">
                        <label class="control-label " for="ddlBillingDefaultColumns" i18n="setup.userSettings.defaultColumn"></label>
                    </div>
                    <div class="col-sm-5">
                        <select id="ddlBillingDefaultColumns" name="repeats" class="form-control selects">
                        </select>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-form-label col-sm-4">
                        <label class="control-label " for="ddlBillingSortOrder" i18n="setup.userSettings.defaultSortOrder"></label>
                    </div>

                    <div class="col-sm-5">
                        <select id="ddlBillingSortOrder" name="repeats" class="form-control selects">
                            <option value="Desc" i18n="shared.buttons.desc"></option>
                            <option value="Asc" i18n="shared.buttons.asc"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-horizontals" id="divPrinterTemplates">
                    <legend class="viztekLegend">
                            <h5 i18n="setup.userSettings.headings.printerTemplates"></h5>
                        </legend>
                <div class="form-group row">
                    <div class="col-sm-4 col-form-label">
                        <label class="control-label " for="ddlPaperClaimFullForm" i18n="setup.userSettings.paperClaimFullForm"></label>
                    </div>
                    <div class="col-sm-5">
                        <select id="ddlPaperClaimFullForm" name="paperclaim" class="form-control selects">
                            <option value="" i18n="shared.buttons.select"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-form-label col-sm-4">
                        <label class="control-label " for="ddlPaperClaimOriginalForm" i18n="setup.userSettings.paperClaimOriginalForm"></label>
                    </div>

                    <div class="col-sm-5">
                        <select id="ddlPaperClaimOriginalForm" name="paperClaimOriginalForm" class="form-control selects">
                            <option value="" i18n="shared.buttons.select"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-form-label col-sm-4">
                        <label class="control-label " for="ddlDirectInvoice" i18n="setup.userSettings.directInvoice"></label>
                    </div>

                    <div class="col-sm-5">
                        <select id="ddlDirectInvoice" name="directInvoice" class="form-control selects">
                            <option value="" i18n="shared.buttons.select"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-form-label col-sm-4">
                        <label class="control-label " for="ddlPatientInvoice" i18n="setup.userSettings.patientInvoice"></label>
                    </div>

                    <div class="col-sm-5">
                        <select id="ddlPatientInvoice" name="patientInvoice" class="form-control selects">
                            <option value="" i18n="shared.buttons.select"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div><select name="" id=""></select>
        <ol id="ulSortBillingList" class="simple_with_animation vertical flex-fill">
        </ol>
    </div>
</div>
<div id="divAccess" style="display:none;text-align: center;font-size: 19px;">Access Denied</div>
