<b>
  Hello To View
</b>
<div id="data_container">
  <div class='Grid container-fluid' id='divTestGrid'>
    <table id="tblGridTest"></table>
    <div id="gridPager_Test"></div>
  </div>
</div>

<div id="data_container2">
  <div id="pageHeaderFacility" class="page-customheader" style="display: none;">
    <div class="col-xs-12">
      <div id="divPageHeaderScreenFacility" class="pull-left" style="float:left;margin-top:10px;">
        <span style="font-size:20px;font-weight: bold" id="spScreenNameFacility" data-original-title="" title=""></span>
      </div>
      <div id="divPageHeaderButtonsFacility" class="pull-right" style="margin-top:0px;margin-bottom:10px;" align="right">
      </div>
    </div>
  </div>

  <div class="Grid container-fluid" id="divFacilityGrid">
  </div>

  <div class="Form borderedForm" id="divFacilityForm" style="display: none;">
  </div>
</div>