extends layout

block content
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href='#') #{title}
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link.active(href='#app/studies') Home
                li.nav-item
                    a.nav-link(href='#app/claim_workbench') Claims
                li.nav-item
                    a.nav-link(href='#app/payments') Payments
                    
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Reports
                    .dropdown-menu
                        a.dropdown-item(href='#') Charges
                        a.dropdown-item(href='#') Payments
                        .dropdown-divider
                        a.dropdown-item(href='#') Report 1
                        a.dropdown-item(href='#') Report 2
                    
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Setup
                    .dropdown-menu
                        a.dropdown-item(href='#setup/adjustment_codes/list') Adjustment Codes
                        a.dropdown-item(href='#') Billing codes
                        a.dropdown-item(href='#') Billing Classes
                        a.dropdown-item(href='#') Claim Status
                        .dropdown-divider
                        a.dropdown-item(href='#setup/billing_providers/list') Billing Providers
                        a.dropdown-item(href='#') Provider ID Codes
                        a.dropdown-item(href='#') Provider ID Code Qualifiers
                        .dropdown-divider
                        a.dropdown-item(href='#') Billing Messages
                        a.dropdown-item(href='#') Payment Reasons
                        a.dropdown-item(href='#setup/cas_group_codes/list') CAS Group Codes
                        a.dropdown-item(href='#setup/cas_reason_codes/list') CAS Reason Codes

                li.nav-item
                    a.nav-link(href='#') Logout

    #root

    script(type='text/javascript', src='/node_modules/requirejs/require.js', data-main='/js/main.js')
