extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') #{title}
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link.active(href='#app/studies')
          | Home 
          span.sr-only (current)
        a.nav-item.nav-link(href='#app/claims') Claims
        a.nav-item.nav-link(href='#app/payments') Payments
        a.nav-item.nav-link(href='#app/reports') Reports
        a.nav-item.nav-link(href='#app/setup') Setup
        a.nav-item.nav-link(href='#') Logout

  #root

  script(type='text/javascript', src='/node_modules/requirejs/require.js', data-main='/js/main.js')
