<%
  var multiple = 'chat-user-avatar--multiple ';
  var ids = [];
  _.forEach(users, function (user) {
        ids.push(user.id);
  });
  var isFavorite = room.get('possessive').is_favorite;
  var favoriteClass = isFavorite ? 'chat-item_favorite' : '';
  var unread = room.get('possessive').unread_count;
  var title = room.get('title');
  var isActiveClass = room.get('isActive') ? 'chat-item--active' : '';
%>
<div class="chat-item <%= favoriteClass %> <%= isActiveClass %> js_chat-item" data-room-id="<%= room.get('id') %>" title="<%= title %>">
    <% if ('private' == room.get('roomType')) {
        var userStatus = '';
        var initials = '';
        var companion = '';
        var userId = '';
        if (!_.isEmpty(users)) {
            companion = users[0].id !== app.userID ? users[0] : users[1];
            userId = companion.id
            userStatus = 'chat-user-avatar-wrap-status chat-user-avatar-wrap-status--' + companion.get('chat_status')
            initials = companion.getInitials();
        } %>
    <div class="chat-user-avatar-wrap js_userAvatarStatus <%= userStatus %>" data-user-id="<%= userId %>">
        <span class="chat-item__badge js_chat-item__badge <%= unread > 0 ? '' : 'hidden' %>"><%= unread %></span>
        <%= templateUserAvatar({
                userId: userId,
                initials: initials,
                chatUserAvatarType: null
            })
        %>
    </div>
    <% } else { %>
    <div class="chat-user-avatar-wrap">
        <span class="chat-item__badge js_chat-item__badge <%= unread > 0 ? '' : 'hidden' %>"><%= unread %></span>
        <% if (ids.length > 4) {
            for (i = 0; i < 3; i++) { %>
        <%= templateUserAvatar({
                userId: ids[i],
                initials: (users[i]) ? users[i].getInitials() : ids[i],
                chatUserAvatarType: multiple
            })
        %>
        <% } %>
        <%= templateUserAvatar({
                userId: null,
                initials: ids.length - 3,
                chatUserAvatarType: multiple
            })
        %>
        <% } else {
            for (i = 0; i < ids.length; i++){ %>
        <%= templateUserAvatar({
                userId: ids[i],
                initials: (users[i]) ? users[i].getInitials() : ids[i],
                chatUserAvatarType: multiple
            })
        %>
        <% }
        } %>
    </div>
<% } %>
    <div class="chat-item-cont">
        <p class="chat-item-cont__title"><%= title %></p>
        <p class="chat-item-cont__date js_chat-item__date"></p>
    </div>
    <% if (isFavorite) { %>
        <span class="chat-item__icon-favorite glyphicon glyphicon-star"></span>
    <% } %>
</div>
