<tr data_row_id="<%= row.data_row_id %>">
    <td class='w-space'>
        <span id="spAddInjury_<%= row.data_row_id %>" class="icon icon-ic-plus addInjury"></span>
    </td>
    <td class='w-space'>
        <span id="spDeleteInjury_<%= row.data_row_id %>" class="icon icon-ic-delete removeInjury"></span>
    </td>
    <td class='w-space'>
        <input type="text" id="txtBodyPart_<%= row.data_row_id %>" class="form-control">
    </td>
    <td class='w-space'>
        <input type="text" id="txtNOI_<%= row.data_row_id %>" class="form-control">
    </td>
    <td class='w-space'>
        <input type="text" id="txtOrientation_<%= row.data_row_id %>" class="form-control">
    </td>
</tr>