<style>
    #divEncounterFeeInfo,
    #tableExamAuth table td,
    th {
        text-align: right !important;
    }

    #tableExamAuth thead th span {
        font-weight: 400;
        text-transform: uppercase;
    }
</style>
<table id="tableExamAuth" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="ui-state-default ui-th-column ui-th-ltr">
                <span i18n="billing.claims.summary"></span>
            </th>
            <th class="ui-state-default ui-th-column ui-th-ltr">
                <span i18n="billing.claims.current"></span>
            </th>
            <th class="ui-state-default ui-th-column ui-th-ltr">
                <span i18n="billing.claims.30days"></span>
            </th>
            <th class="ui-state-default ui-th-column ui-th-ltr">
                <span i18n="billing.claims.60days"></span>
            </th>
            <th class="ui-state-default ui-th-column ui-th-ltr">
                <span i18n="billing.claims.90days"></span>
            </th>
            <th class="ui-state-default ui-th-column ui-th-ltr">
                <span i18n="billing.claims.120days"></span>
            </th>
            <th class="ui-state-default ui-th-column ui-th-ltr">
                <span i18n="billing.claims.total"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr id="trPatResponsible">
            <td i18n="billing.claims.patientResponsible">Patient Responsible</td>
            <td id="tdPtCurrent"></td>
            <td id="tdPtAge30"></td>
            <td id="tdPtAge60"></td>
            <td id="tdPtAge90"></td>
            <td id="tdPtAge120"></td>
            <td id="tdPtAgeTotal"></td>
        </tr>
        <tr id="trInsResponsible">
            <td i18n="billing.claims.insuranceResponsible">Insurance Responsible</td>
            <td id="tdInsCurrent"></td>
            <td id="tdInsAge30"></td>
            <td id="tdInsAge60"></td>
            <td id="tdInsAge90"></td>
            <td id="tdInsAge120"></td>
            <td id="tdInsAgeTotal"></td>
        </tr>
        <tr id="trToalAgeResponsible">
            <td i18n="billing.claims.total">Total</td>
            <td id="tdCurrent"></td>
            <td id="tdAge30"></td>
            <td id="tdAge60"></td>
            <td id="tdAge90"></td>
            <td id="tdAge120"></td>
            <td id="tdAgeTotal"></td>
        </tr>
    </tbody>
</table>
