<tr data_row_id="<%= row.data_row_id %>">
        <td>
            <span id="spAddCharge_<%= row.data_row_id %>" class="icon icon-ic-plus addChargeLine"></span>
        </td>
        <td>
            <span id="spDeleteCharge_<%= row.data_row_id %>" class="icon  icon-ic-close removecharge"></span>
        </td>
        <td style="display: none">
            <span class="charges__accession-num" id="spAccessionNo_<%= row.data_row_id %>">
                <%= row.accession_no %>
            </span>
        </td>
        <td>
            <span class="scheduleDate" id="spScheduleDate_<%= row.data_row_id %>">
                <%= row.charge_dt %>
            </span>
        </td>
        <td class="charges__cpt-code">
            <div id="divChargeCpt_<%= row.data_row_id %>"></div>
        </td>
        <td class="charges__cpt-description">
            <div id="divChargeCptDesc_<%= row.data_row_id %>"></div>
        </td>
        <td>
            <input id="ddlPointer1_<%= row.data_row_id %>" class="form-control inputModifiers typeahead diagCodes" data-type="P1" data-value="<%= row.data_row_id %>" type="text">
        </td>
        <td>
            <input id="ddlPointer2_<%= row.data_row_id %>" class="form-control inputModifiers typeahead diagCodes" data-type="P2" data-value="<%= row.data_row_id %>"
                   type="text">
        </td>
        <td>
            <input id="ddlPointer3_<%= row.data_row_id %>" class="form-control inputModifiers typeahead diagCodes" data-type="P3" data-value="<%= row.data_row_id %>"
                   type="text">
        </td>
        <td>
            <input id="ddlPointer4_<%= row.data_row_id %>" class="form-control inputModifiers typeahead diagCodes" data-type="P4" data-value="<%= row.data_row_id %>"
                   type="text">
        </td>
    
        <td>
            <select id="ddlModifier1_<%= row.data_row_id %>" class="form-control inputModifiers typeahead modifiers" data-type="M1" data-value="<%= row.data_row_id %>">
                <option value="">Select</option>
                <% _.each(row.modifiers1, function(modifier) { %>
                    <option value='<%= modifier.id %>'>
                        <%=modifier.code%>
                    </option>
                    <% }); %>
            </select>
        </td>
        <td>
            <select id="ddlModifier2_<%= row.data_row_id %>" class="form-control inputModifiers typeahead modifiers" data-type="M2" data-value="<%= row.data_row_id %>">
                <option value="">Select</option>
                <% _.each(row.modifiers2, function(modifier) { %>
                    <option value='<%= modifier.id %>'>
                        <%=modifier.code%>
                    </option>
                    <% }); %>
            </select>
        </td>
        <td>
            <select id="ddlModifier3_<%= row.data_row_id %>" class="form-control inputModifiers typeahead modifiers" data-type="M3" data-value="<%= row.data_row_id %>">
                <option value="">Select</option>
                <% _.each(row.modifiers3, function(modifier) { %>
                    <option value='<%= modifier.id %>'>
                        <%=modifier.code%>
                    </option>
                    <% }); %>
            </select>
        </td>
        <td>
            <select id="ddlModifier4_<%= row.data_row_id %>" class="form-control inputModifiers typeahead modifiers" data-type="M4" data-value="<%= row.data_row_id %>">
                <option value="">Select</option>
                <% _.each(row.modifiers4, function(modifier) { %>
                    <option value='<%= modifier.id %>'>
                        <%=modifier.code%>
                    </option>
                    <% }); %>
            </select>
        </td>
    
        <td>
            <input value="<%= row.units ? row.units : 1.000 %>"  id="txtUnits_<%= row.data_row_id %>" type="text" class="form-control maskUnits units floatbox" style="width: 75px">
        </td>
        <td>
            <input disabled value="<%= row.bill_fee ? row.bill_fee : 0.00 %>" id="txtBillFee_<%= row.data_row_id %>" type="text" class="billFee form-control-med form-control maskFee floatbox"  style="display:inline-block;width:auto;" edit="false">
            <span id="editBillFee_<%= row.data_row_id %>" class="icon-ic-edit" style="margin-left: 4px;cursor:pointer;" rel="tooltip" title="" data-original-title="Click here to edit"></span>
        </td>
        <td>
            <input disabled value="<%= row.total_bill_fee ? row.total_bill_fee : 0.00 %>" id="txtTotalBillFee_<%= row.data_row_id %>" type="text" class="totalbill form-control floatbox">
        </td>
        <td>
            <input disabled value="<%= row.allowed_fee ? row.allowed_fee : 0.00 %>" id="txtAllowedFee_<%= row.data_row_id %>" type="text" class="maskFee allowedFee form-control floatbox">
        </td>
        <td>
            <input disabled value="<%= row.total_allowed_fee ? row.total_allowed_fee : 0.00 %>" id="txtTotalAllowedFee_<%= row.data_row_id %>" type="text" class="totalallowed form-control floatbox">
        </td>
        <td>
            <input id="txtAuthInfo_<%= row.data_row_id %>" type="text" class="form-control " value="<%= row.authorization_no %>">
        </td>
    
    </tr>
    