
    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: hidden;
        }
        .vs {
            overflow-y: scroll;
        }
        div#headerbtn{
            z-index: 5;
            width: 100%;
            background-color: whitesmoke;
            margin-bottom: 10px;
        }
    </style>
    <form>
        <div class="row">
            <div id="headerbtn">
                <div class="col-md-2">
                    <input type="button" i18n="billing.fileInsurance.previous" id="btnPreviousInquiry" value="previous" class=" btn btn-primary claimProcess" style="float:left">
                </div>
                <div class="col-md-10" style="float:right">
                    <input type="button" i18n="billing.fileInsurance.next" id="btnNextInquiry" value="next" class=" btn btn-primary claimProcess" style="float:right">
                </div>
            </div>
        </div>
        <div id='divClaimInquiry' style="overflow: auto;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label style="font-weight: bold" i18n="billing.fileInsurance.claimInquiryDetails"></label>
                    </div>
                    <div class="col-md-5">
                        <label i18n="billing.fileInsurance.claimStatus"></label> :
                        <label id="lblCIStatus" style="font-weight: bold;"></label>
                    </div>
                    <div class="col-md-4">
                        <label i18n="billing.claims.claimDate"></label> :
                        <label id="lblCIClaimDate" style="font-weight: bold;"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.readPhy"></label></div>
                    <div class="col-md-9"><label id="lblCIReadPhy"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.refPhy"></label></div>
                    <div class="col-md-9"><label id="lblCIRefPhy"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.ordFacility"></label></div>
                    <div class="col-md-9"><label id="lblCIOrdFac"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.payments.facility_name"></label></div>
                    <div class="col-md-9"><label id="lblCIfac"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.payments.patientPaid"></label></div>
                    <div class="col-md-3"><label id="lblCIPatientPaid"></label></div>
                    <div class="col-md-3"><label class="font-weight" i18n="billing.refund.otherPaid"></label></div>
                    <div class="col-md-3"><label id="lblCIOthersPaid"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.billFee"></label></div>
                    <div class="col-md-3"><label id="lblCIBillFee"></label></div>
                    <div class="col-md-3"><label class="font-weight" i18n="billing.refund.allowed"></label></div>
                    <div class="col-md-3"><label id="lblCIAllowed"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.payments.adjustment"></label></div>
                    <div class="col-md-3"><label id="lblCIAdj"></label></div>
                    <div class="col-md-3"><label class="font-weight" i18n="billing.refund.balance"></label></div>
                    <div class="col-md-3"><label id="lblCIBalance"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="control-label" style="font-weight: bold" i18n="billing.fileInsurance.followUpDate"></label></div>
                    <div id="divFollowUpDate" class="col-md-3 form-inline">
                        <input type="date" id="txtCIFollowUpDate">
                        <!-- <span class="input-group-addon add-on"> <i class="icon-ic-schedule"></i> </span> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="control-label" style="font-weight: bold" i18n="billing.fileInsurance.billingComments"></label></div>
                    <div class="col-md-9 form-inline">
                        <textarea id="txtCIBillingComment" class="form-control" style="height:50px;width:90%" readonly></textarea>
                        <i class='icon-ic-raw-transctipt' title='Edit Note' id="btnCIAddBillingComments"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5"><label style="font-weight: bold" i18n="billing.fileInsurance.icd"></label></div>
                    <div class="col-md-3">
                        <input type="button" id="btnCISaveIsInternal" class=" btn btn-primary" style="float:right; line-height: 1;" value="Save" i18n="shared.buttons.save">
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" id="btnCIPrintInvoice" style="line-height: 1;" data-rformat="pdf"> Print Invoice <i class="fa fa-external-link"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
                </div>
                <div class="row" id="icdGrid">
                    <div class="Grid col-md-12" style="min-height:150px;">
                            <table id='tblCIDiagnosis'></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"><label style="font-weight: bold" i18n="billing.COB.insurance"></label></div>
        </div>
        <div class="row">
            <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
        </div>
        <div class="row">
            <div class="Grid col-md-12" style="min-height:150px;">
                    <table id='tblCIInsurance'></table>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-10"><label style="font-weight: bold" i18n="billing.fileInsurance.comment"></label></div>
            <div class="col-md-2">
                <input type="button" id="btnCIAddComment" class=" btn btn-danger" value="Save" i18n="shared.buttons.add" style="float:right;margin-right: 5px;line-height: 1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
        </div>
        <div class="row">
            <div class="Grid col-md-12" style="min-height:150px;">
                    <table id='tblCIClaimComments' class="vs"></table>
            </div>
        </div>
        <!-- style="display:none; position:fixed; top:35%; left:10%; z-index:10000; border-style:groove; background-color: white" -->
        <div id="divCIpaymentDetails" class="divBackgroundPayment form-horizontal commonBorder" style="display: none; position: absolute; border-radius:10px;z-index:10000; width: 97.5%; padding:20px;background-color: white;  
        text-align: center;top: 2%;border: 3px solid #dee2e6;">
                <table id="tblCIPayDetails"  class="table">
                   <thead id="tHeadCIPayment">
                       <tr>
                           <th>Payment ID</th>
                           <th>CPT Code</th>
                           <th>Charged</th>
                           <th>Allowed</th>
                           <th>Paid</th>
                           <th>Adjustment</th>
                           <th>Cas1</th>
                           <th>Amount</th>
                           <th>Cas2</th>
                           <th>Amount</th>
                           <th>Cas3</th>
                           <th>Amount</th>
                           <th>Cas4</th>
                           <th>Amount</th>
                           <th>Cas5</th>
                           <th>Amount</th>
                           <th>Cas6</th>
                           <th>Amount</th>
                           <th>Cas7</th>
                           <th>Amount</th>
                       </tr>
                   </thead>
                   <tbody id="tBodyCIPayment"></tbody>
               </table>
               <input type="button" id="btnCIPayCancel" class="btn btnCommentSave  btn-primary" value="Save" i18n="shared.buttons.cancel" style="float:right">
        </div>
        <!--style="display:none; position:fixed; width:30%; left:35%; z-index:10000; border-style:groove; background-color: white"-->
        <div id="divCIFormComment" class="divBackgroundPayment form-horizontal commonBorder" style="left:35%; display: none; position: absolute; border-radius:10px;z-index:10000; width: 30%; height:23%; padding:20px;background-color: white;  
        text-align: center;top: 2%;border: 1px solid #dee2e6;">
                <div class="col-xs-12" id="divCIclaimComment">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <textarea id="txtCIAddComment" class="form-control" style="margin-left: 20px; margin-right: 20px; width:95%" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <input type="button" id="btnCICommentSave" class="btn btnCommentSave  btn-primary" style="margin-left: 20px;line-height:1" value="Save" i18n="shared.buttons.save">
                        <input type="button" id="btnCICommentCancel" class="btn btnCommentSave  btn-primary" value="Save" i18n="shared.buttons.cancel" style="line-height:1">
                    </div>
                </div>
        </div>
    </div>
    </form>