<style>
    #divPatientClaimsGrid .ui-search-toolbar {
        display: none;
    }
    #divPatientClaimsGrid .ui-jqgrid-bdiv{
        overflow-x: hidden;
    }
</style>
<div id="divPatientClaimsGrid" style="text-align: right">
    <div class="row">
        <div class="col-3">
            <div class="col-form-label" style="text-align: left; padding: 0;">
                <label i18n="report.billingProviders" />
            </div>
            <div class="form-group form-inline">
                <select id="ddlBillingProvider" />
            </div>
        </div>
        <div class="col-2">
            <div class="col-form-label" style="text-align: left;">
                <div>
                    <label i18n="billing.payments.unappliedPay" />
                    <span class='fa fa-search' rel='tooltip' title='view UnApplied Payments' style='padding-left:10px' id='paymentSearch'></span>
                </div>
                <div class="form-group form-inline">
                    <span id="spUnapplied"> </span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="col-form-label" style="text-align: left;">
                <span class="radio-inline" for="radActivityAllStatus">
                    <input id="radActivityAllStatus" type="radio" name="patientActivity" style="margin-top: 3px;">
                    <label for="radActivityAllStatus" class="field-chk" style="min-width: 20px!important; margin: 0 0 10px 0px;">All Activity</label>
                </span>
                <div class="form-group form-inline">
                    <span class="radio-inline" for="radioActivityStatus">
                        <input id="radioActivityStatus" type="radio" name="patientActivity" style="margin-top: 3px;">
                        <label for="radioActivityStatus" class="field-chk" style="min-width: 20px!important; margin: 0 0 10px 0px;">Activity By Date</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-3" id="divFromDate">
            <div id="activityDetails">
                <div class="form-group form-inline">
                    <div class="col-form-label" style="padding: 0;">
                        <label for="txtDate" i18n="billing.claims.fromDate" class="col-form-label"></label>
                    </div>
                    <div class="col-form-content" style="text-align: right;">
                        <div id="divFDate" class="input-group">
                            <input type="text" id="txtDate" class="form-control form-control-date">
                            <span class="input-group-addon add-on" style="padding-right: 0px;border: 1px solid #ced7db;width: 30px;text-align: center;line-height: 30px;">
                                <i class="icon-ic-schedule"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!--  To Date -->
                <div class="form-group form-inline">
                    <div class="col-form-label" style="padding: 0;">
                        <label for="txtOtherDate" i18n="billing.claims.toDate" class="col-form-label" style="width: 65px;"></label>
                    </div>
                    <div class="col-form-content" style="text-align: right;">
                        <div id="divTDate" class="input-group">
                            <input type="text" id="txtOtherDate" class="form-control form-control-date">
                            <span class="input-group-addon add-on" style="padding-right: 0px;border: 1px solid #ced7db;width: 30px;text-align: center;line-height: 30px;">
                                <i class="icon-ic-schedule"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="col-form-label" style="text-align: left;">
                <input type="checkbox" id="bindComments" class="btn btn-default bindComments" i18n="billing.payments.comment">
                <label for="bindComments">Include All Comments</label>
                <div class="form-group form-inline">
                    <input type="button" id="btnPatientActivity" class="btn btn-default patientActivity" i18n="billing.payments.print">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: auto;">
        <table id="tblPatientClaimsGrid"></table>
        <div id="gridPager_PatientClaim"></div>
    </div>
    <div id="divAgeSummary" style="margin:20px;"></div>
</div>