
    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: visible;
        }
        .vs {
            overflow-y: scroll;
        }
        div#headerbtn{
            z-index: 5;
            width: 100%;
            margin-bottom: 10px;
        }
        .row-height tr{
            line-height: 8px;
            font-size: 13px;
        }
        .dropDownButton {
            float: right;
        }
    </style>
    <form>
        <div class="row">
            <div id="headerbtn">
                <div class="col-md-12">
                    <input type="button" i18n="billing.fileInsurance.previous" id="btnPreviousInquiry" value="previous" class=" btn btn-primary claimProcess" style="float:left">
                    <input type="button" i18n="billing.fileInsurance.next" id="btnNextInquiry" value="next" class=" btn btn-primary claimProcess" style="float:right">
                    <% if (country_alpha_3_code === "usa") { %>
                        <div id="divPatientStatement" class="dropDownButton">
                            <li class="btn-group" >
                                <button type="button" class="btn btn-primary btn-print" i18n="shared.buttons.printStatement" id="btnPatientStatement" data-rformat="pdf"></button>
                                <button type="button" class="btn btn-primary dropdown-toggle printButton btn-print" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="listMenu printStatement" id="btnPatient" i18n="billing.payments.patient" data-method="patient" data-rformat="pdf"></a></li>
                                    <li><a class="listMenu printStatement" id="btnGuarantor" i18n="billing.payments.guarantor" data-method="guarantor" data-rformat="pdf"></a></li>
                                    <li><a class="listMenu printStatement" id="btnOrdFacility" i18n="billing.payments.orderingFacility" data-method="orderingFacility" data-rformat="pdf"></a></li>
                                </ul>
                            </li>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="claim-header__order-no">
                    <span i18n="billing.claims.orderNo"></span>
                    <span id="claimInquiryOrderNumber"></span>
                </div>
            </div>
        </div>
        <div id='divClaimInquiry' class="p-3" style="overflow: auto;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label style="font-weight: bold" i18n="billing.fileInsurance.claimInquiry"></label>
                    </div>
                    <div class="col-md-5">
                        <label i18n="billing.fileInsurance.claimStatus"></label> :
                        <label id="lblCIStatus" style="font-weight: bold;"></label>
                    </div>
                    <div class="col-md-4">
                        <label i18n="billing.claims.studyDate"></label> :
                        <label id="lblCIClaimDate" style="font-weight: bold;"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.claims.billingProvider"></label></div>
                    <div class="col-md-4"><label id="lblCIBillProv"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.readPhy"></label></div>
                    <div class="col-md-4"><label id="lblCIReadPhy"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.refPhy"></label></div>
                    <div class="col-md-4"><label id="lblCIRefPhy"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.serviceFacility"></label></div>
                    <div class="col-md-4"><label id="lblCIOrdFac"></label></div>
                    <% if (country_alpha_3_code !== "can") { %>
                    <div class="col-md-2"><label class="font-weight" i18n="billing.refund.placeOfService"></label></div>
                    <div class="col-md-3"><label id="lblCIPOS"></label></div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.billFee"></label></div>
                    <div class="col-md-4"><label id="lblCIBillFee" style="float:right"></label></div>
                    <% if (country_alpha_3_code !== "can") { %>
                    <div class="col-md-2"><label class="font-weight" i18n="billing.payments.allowed"></label></div>
                    <div class="col-md-3"><label id="lblCIAllowed" style="float:right"></label></div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.payments.patientPaid"></label></div>
                    <div class="col-md-4"><label id="lblCIPatientPaid" style="float:right"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.refund.otherPaid"></label></div>
                    <div class="col-md-4"><label id="lblCIOthersPaid" style="float:right"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.fileInsurance.adjustments"></label></div>
                    <div class="col-md-4"><label id="lblCIAdj" style="float:right"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.refund.refunds"></label></div>
                    <div class="col-md-4"><label id="lblCIRefund" style="float:right"></label></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="font-weight" i18n="billing.refund.balance"></label></div>
                    <div class="col-md-4"><label id="lblCIBalance" style="float:right"></label></div>
                    <div class="col-md-2"><label i18n="billing.fileInsurance.followUpDate"></label></div>
                    <div id="divFollowUpDate" class="col-md-3 input-group">
                        <!-- <input type="date" id="txtCIFollowUpDate">  -->
                        <input type="text" id="txtCIFollowUpDate" class="form-control form-control-date maskDateLocale" name="followUpDate" style="height: 30px;" i18np="dateFormat">
                        <span class="input-group-addon add-on" style="padding-right: 0px;border: 1px solid #ced7db;width: 30px;text-align: center;line-height: 30px;height: 30px"> <i class="icon-ic-schedule"></i></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label i18n="billing.fileInsurance.billingComments"></label></div>
                    <div class="col-md-9 form-inline" style="padding-top:5px">
                        <textarea id="txtCIBillingComment" class="form-control w-90 h-50" readonly></textarea>
                        <span class="input-group-addon add-on" style="padding-right: 0px; border: 1px solid #ced7db; width: 30px; text-align: center; line-height: 30px; height:50px; padding-top: 8px;">
                            <i class='icon-ic-raw-transctipt' title='Edit Note' id="btnCIAddBillingComments"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <% if (country_alpha_3_code !== 'can' || billingRegionCode !== 'can_ON') { %>
                            <label style="font-weight: bold" i18n="billing.fileInsurance.icd"></label>
                        <% } %>
                    </div>
                    <div class="col-md-3">
                        <input type="button" id="btnPatientClaims" class="btn btn-primary ci-header-btn line-ht-1" i18n="setup.rightClickMenu.patientClaims">
                    </div>
                    <div class="col-md-3">
                        <input type="button" id="btnCISaveIsInternal" class=" btn btn-primary ci-header-btn line-ht-1" value="Save" i18n="shared.buttons.save">
                        <% if (['can_MB', 'can_BC'].indexOf(billingRegionCode) !== -1) { %>
                        <input type="button" id="btnCISaveNotes" class=" btn btn-primary ci-header-btn line-ht-1" value="SaveNotes" i18n="shared.buttons.saveNotes">
                        <% } %>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary line-ht-1" id="btnCIPrintInvoice" data-rformat="pdf"><span i18n="shared.buttons.printInvoice"></span><i class="fa fa-external-link"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
                </div>
                <div class="row" id="icdGrid">
                    <div class="Grid col-md-12" style="min-height:150px;">
                            <table id='tblCIDiagnosis'></table>
                    </div>
                </div>
            </div>
        </div>
        <div id="divFaxReceipientPaperClaim" class="row" style="display: none;">
            <div class="col-12 form-group form-inline">
                <div class="col-form-label col-right-label">
                    <label class="control-label" for="txtFaxReceiverName" i18n="shared.fields.faxReceiverName"></label>
                </div>
                <div class="col-form-content">
                    <input type="text" id="txtFaxReceiverName" class="form-control mr-2" />
                </div>

                <div class="col-form-label col-right-label ml-2">
                    <label class="control-label" for="txtFaxReceiverNumber" i18n="shared.fields.faxReceiverNumber"></label>
                </div>
                <div class="col-form-content">
                    <input type="text" id="txtFaxReceiverNumber" class="form-control maskPhone m-2" />
                </div>

                <div class="pull-right">
                    <input type="button" id="btnClaimFaxSend" class="btn btn-primary" i18n="shared.buttons.sendFax" />
                    <input type="button" id="btnClaimFaxCancel" class="btn btn-primary" i18n="shared.buttons.cancel" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><label style="font-weight: bold" i18n="billing.COB.insurance"></label></div>
        </div>
        <div class="row">
            <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
        </div>
        <div class="row">
            <div class="Grid col-md-12" style="min-height:150px;">
                    <table id='tblCIInsurance'></table>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-10"><label style="font-weight: bold" i18n="billing.fileInsurance.transactionDetail"></label></div>
            <div class="col-md-2">
                <input type="button" id="btnCIAddComment" class=" btn btn-danger" value="Save" i18n="shared.buttons.add" style="float:right;margin-right: 5px;line-height: 1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><legend class="viztekLegend" style="font-weight: bold;font-size: 15px"></legend></div>
        </div>
        <div class="row">
            <div class="Grid col-md-12" style="min-height:150px;">
                    <table id='tblCIClaimComments' class="vs"></table>
            </div>
        </div>
        <!-- style="display:none; position:fixed; top:35%; left:10%; z-index:10000; border-style:groove; background-color: white" -->
        <div id="divCIpaymentDetails" class="divBackgroundPayment form-horizontal commonBorder" style="display: none;">
            <div style="overflow:auto">
                <table id="tblCIPayDetails"  class="table table-bordered">
                   <thead id="tHeadCIPayment">
                       <tr>
                           <th>Payment ID</th>
                           <th>CPT Code</th>
                           <th>Charged</th>
                           <th>Allowed</th>
                           <th>Paid</th>
                           <th>Adjustment</th>
                           <% if (billingRegionCode === 'can_BC') { %>
                            <th>MSP Internal control number</th>
                            <% } %>
                       </tr>
                   </thead>
                   <tbody id="tBodyCIPayment"></tbody>
               </table>

               <table id="tblCASDesc"  class="table table-bordered row-height">
                    <thead>
                        <tr>
                            <th> CAS Code </th>
                            <th> CAS Description </th>
                        </tr>
                    </thead>
                   <tbody id="tBodyCASRef">
                   </tbody>
               </table>
            </div>
        </div>
        <div id="divCIFormComment" class="divBackgroundPayment form-horizontal commonBorder claim-comment">
            <div class="col-xs-12" id="divCIclaimComment">
                <div class="col-xs-6">
                    <div class="form-group">
                        <textarea id="txtCIAddComment" class="form-control" style="width:95%; height: 150px;"></textarea>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group float-right" id="chkalertScreens">
                        <legend class="viztekLegend" i18n="billing.claims.alertOnScreens"></legend>
                        <div>
                            <input type="checkbox" id="chkAltEditClaim" value="edit_claim">
                            <label for="chkAltEditClaim" class="field-chk" i18n="setup.rightClickMenu.editClaim"></label>
                        </div>
                        <div>
                            <input type="checkbox" id="chkAltClaimInquiry" value="claim_inquiry">
                            <label for="chkAltClaimInquiry" class="field-chk" i18n="setup.rightClickMenu.claimInquiry"></label>
                        </div>
                        <div>
                            <input type="checkbox" id="chkAltPaymentRecon" value="payment_reconciliation">
                            <label for="chkAltPaymentRecon" class="field-chk" i18n="billing.claims.paymentReconciliation"></label>
                        </div>
                        <div>
                            <input type="checkbox" id="chkAltPatientClaims" value="patient_claims">
                            <label for="chkAltPatientClaims" class="field-chk" i18n="setup.rightClickMenu.patientClaims"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <input type="button" id="btnCICommentSave" class="btn btnCommentSave  btn-primary" value="Save" i18n="shared.buttons.save">
            </div>
        </div>
    </div>
    </form>
