<form class="form-horizontal form-list mt-25">
    <div class="form-group form-inline">
        <div class="col-form-label">
            <label for="claimReassessment" class="control-label" i18n="billing.claims.canAhs.reassessmentReason"></label>
        </div>
        <div class="col-sm-6 col-form-content">
            <textarea id="claimReassessment" name="claimReassessment"
                class="form-control form-control-lg" maxlength="365000"></textarea>
            <input type="button" id="saveSupportText" class="btn btn-default btn-primary mt-3" i18n="shared.buttons.save">
        </div>
    </div>
</form>
