<div class="col-md-12" style="text-align: right;height: 40px;">
<input type="button" id="btnPrint" class="btn btn-default invoiceInquiry inquiryActivity float-right .mb-2" i18n="billing.payments.print">
<input type="button" id="btnReload" class="btn btn-default invoiceInquiry inquiryReload float-right .ml-1 .mb-2" i18n="billing.payments.reload">
</div>
<div style="margin: auto;">
    <table id="tblInvoiceGrid"></table>
    <div id="gridPager_invoiceClaim"></div>
</div>
<div id="divIvoiceAgeSummary"></div>
