<% _.each(charges, function(charge) { %>
<section>
        <cpt class="mergeContainer selectionTask dragStudy sectionOver modal-header" data-charge_id="<%= charge.charge_id %>"
            data-claim_id="<%= charge.claim_no %>" data-patient_id="<%= charge.patient_id %>">
            <div class="mergeStudy flex-parent-horiz flex-vert-center dragSeries">
                <div class="icon-ic-plus mergePlusIcon triggerMergeStudyPlus disableDrag" title="Add to Selected">
                </div>
                <div class="mergeInfo">
                    <p><span i18n="setup.userSettings.accountNo"></span> <b class="accession_no"><%= charge.account_no %></b></p>
                    <p><span i18n="billing.payments.patient" style="text-transform: capitalize;"></span> : <b><%= charge.full_name %></b></p>
                    <p><span i18n="billing.fileInsurance.refPhy"></span> <b class="accession_no"><%= charge.referringphysician %></b></p>
                </div>
                <div class="mergeInfo">
                    <p><span i18n="billing.fileInsurance.claimNo"></span> : <b class="accession_no"><%= charge.claim_no %></b></p>
                    <p><span i18n="setup.userSettings.cptDescription"></span> <b title="<%= charge.cpt_description %>"><%= charge.cpt_description %></b></p>
                    <p><span i18n="setup.userSettings.cptCodes"></span> : <b class="accession_no"><%= charge.cpt_code %></b></p>
                </div>
            </div>
        </cpt>
</section>
<% }); %>     