<div id="divWarningMsg">
    <table class="table table-bordered table-hover" style="width:100%;">
        <tr>
            <td style='width: 20px; padding-bottom: 0px;font-weight:bold;' i18n="billing.fileInsurance.SegmentID"></td>
            <td style='width: 20px; padding-bottom: 0px;font-weight:bold;' i18n="billing.fileInsurance.SegmentName"></td>
            <td style='width: 20px; padding-bottom: 0px;font-weight:bold;' i18n="billing.fileInsurance.Name"></td>
            <td colspan='2' style='width: 100%;font-weight:bold;padding-bottom: 0px; border-right: none;' i18n="billing.fileInsurance.Message"></td>
        </tr>
        <% for(var i in result ) { %>
            <tr>
                <td colspan='5'>
                    <span style='font-size: 15px;font-weight:bold;margin-left:500px;' i18n="billing.fileInsurance.claimNo">

                    </span>
                    <label style="margin-left: 10px;font-weight:bold;">
                        <%= i %>
                    </label>
                </td>
            </tr>
            <% _.each(result[i],function(segment){ %>
                <tr>
                    <td style='width: 20px; padding-bottom: 0px;'>
                        <%=segment.segmentID || ''%>
                    </td>
                    <td style='width: 20px; padding-bottom: 0px;'>
                        <%=segment.segmentName || ''%>
                    </td>
                    <td style='width: 20px; padding-bottom: 0px;'>
                        <%=segment.fieldName || ''%>
                    </td>
                    <td colspan='2' style='width: 100%;padding-bottom: 0px; border-right: none;'>
                        <%=segment.message || ''%>
                    </td>
                </tr>
                <%})%>
            <%}%>

    </table>
</div>