<html>

<head>
    <title i18n="billing.fileInsurance.healthCardBenefitsEligibility"></title>
</head>

<body><br>
    <p class="font-weight-bold" i18n="billing.fileInsurance.patientInformation"></p>
    <hr>
    <table class="table table-bordered w-100 m-auto">
        <tbody>
            <tr>
                <td class="w-30 font-weight-bold" i18n="billing.fileInsurance.patientFirstName"></td>
                <td class="w-70"><%=InsuranceData.first_name%></td>
            </tr>
            <tr>
                <td class="w-30 font-weight-bold" i18n="billing.fileInsurance.patientLastName"></td>
                <td class="w-70"><%=InsuranceData.last_name%></td>
            </tr>
            <tr>
                <td class="w-30 font-weight-bold" i18n="billing.fileInsurance.healthCardNumber"></td>
                <td class="w-70"><%=InsuranceData.policy_number%></td>
            </tr>
            <tr>
                <td class="w-30 font-weight-bold" i18n="billing.fileInsurance.patientBirthDate"></td>
                <td class="w-70"><%=InsuranceData.birth_date%></td>
            </tr>
            <tr>
                <td class="w-30 font-weight-bold" i18n="billing.fileInsurance.patientGender"></td>
                <td class="w-70"><%=InsuranceData.gender%></td>
            </tr>
            <tr>
                <td class="w-30 font-weight-bold" i18n="billing.fileInsurance.expiryDate"></td>
                <td class="w-70"><%=InsuranceData.valid_to_date%></td>
            </tr>
        </tbody>
    </table>
</body>

</html>