<html>
    <style>

        field {
            display: inline-block;
        }

        span {
            font-weight: bold;
        }

        .logo {
            height: 150px;
            display: block;
            margin: auto;
        }

    </style>
<body>
    <%
    data.patient = data.patient || {};
    data.estimation = data.estimation || {};
    data.studies = data.studies || {};
    %>

    <table align="center">
        <tr>
          <td>
              <img src="<%= data.facilityLogo %>" display="block" border="0" class="exa-logo exa-logo--custom" alt="image">
          </td>
        </tr>
    </table>

    <table margin="7" align="right" style="margin: 7px;">
        <tr>
          <td>
              <span><%= data.currentDate %></span>
          </td>
        </tr>
    </table>

    <table align="left" margin="7" style="margin: 7px; width: 100%;">
        <tr>
            <td style="width: 125px">
                <div i18n="patient.patientInsurance.eligibility.patientName"></div>
            </td>
            <td>
                <div><%= data.patient.name %></div>
            </td>
        </tr>
        <tr>
            <td style="width: 125px">
                <div i18n="patient.patientInsurance.eligibility.estimateDate"></div>
            </td>
            <td>
                <div><%= data.eligibility.dateCreatedDisplay %></div>
            </td>
          </tr>
    </table>

    <table align="left" margin="7" style="margin: 7px; width: 100%;">
        <tr>
            <td>
                <div style="white-space:break-spaces;" i18n="patient.patientInsurance.eligibility.healthInfo"></div>
            </td>
        </tr>
    </table>

    <table align="left" margin="7" style="margin: 7px; width: 100%;">
        <%
        (data.studies || []).forEach(function (study, index) {

            var cpt_codes = (study.cptDetails || []).map(function (cpt) {
                return cpt.code;
            }).join(", ");

            %>

            <% if (index === 0) { %>
                <tr>
                    <td style="width: 150px;">
                        <span i18n="patient.patientInsurance.eligibility.testProcedures"></span>
                    </td>
                    <td>
                        <field><%= study.study_description %> (<%= cpt_codes %>)</span>
                    </td>
                </tr>
            <% } else { %>
                <tr>
                    <td style="width: 150px;">
                        <span></span>
                    </td>
                    <td>
                        <field><%= study.study_description %> (<%= cpt_codes %>)</span>
                    </td>
                </tr>
            <% } %>
            <%
        });
        %>
    </table>

    <table align="left" margin="7" style="margin: 7px; width: 100%;">
        <tr>
            <td>
                <span i18n="patient.patientInsurance.eligibility.deDuctibleLetter"></span>
                <field><%= data.estimation.deductibleDisplay %></field>
            </td>
        </tr>
        <tr>
            <td>
                <span i18n="patient.patientInsurance.eligibility.coPayLetter"></span>
                <field><%= data.estimation.coPayDisplay %></field>
            </td>
        </tr>
        <tr>
            <td>
                <span i18n="patient.patientInsurance.eligibility.coInsuranceLetter"></span>
                <field><%= data.estimation.coInsuranceDisplay %></field>
            </td>
        </tr>
        <tr>
            <td>
                <span i18n="patient.patientInsurance.eligibility.balanceDue"></span>
                <field><%= data.estimation.balanceDueDisplay %></field>
            </td>
        </tr>
    </table>

    <table align="left" margin="7" style="margin: 7px;">
        <tr>
            <td>
                <div style="white-space:break-spaces;" i18n="patient.patientInsurance.eligibility.estimationStatement"></div>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 15px;">
                <div i18n="patient.patientInsurance.eligibility.billingInfo"></div>
            </td>
        </tr>
    </table>
</body>
</html>
