<div>
    <% if(alerts && alerts.length) { %>
        <h3>Alerts</h3>
        <ul>
            <% _.each (alerts, function(alert) { %>
                <li class="patientAlert"><%= alert %></li>
            <% }) %>
        </ul>
    <% } %>
    <% if(others && others.length) { %>
        <h3>Other Alerts</h3>
        <ul>
            <% _.each (others, function(otherAlert) { %>
                <li class="patientAlert"><%= otherAlert %></li>
            <% }) %>
        </ul>
    <% } %>
    <% if(notes && notes.length) { %>
        <h3>Notes</h3>
        <textarea id='txtPopupAlertsNotes' style='font-size: 12pt; padding: 10px; margin-bottom: 10px; width: 100%; max-width: 100%;' readonly><%= notes %></textarea>
    <% } %>
</div>
