<tr data_payment_id="<%= row.id %>" data_row_id="<%= row.row_index %>" data_payment_application_id="<%= row.payment_application_id %>" >
    <td style="width:2%; vertical-align: middle;">
        <span id="spAddPayment_<%= row.id %>" class="icon icon-ic-plus addPaymentLine" i18nt="order.chargePayment.newPayment" ></span>
    </td>
    <td class='w-space' style="width:9%;  vertical-align: middle;">
        <div id="divAccountingDate_<%= row.row_index %>" class="input-group">
            <input type="text" value="<%= row.accounting_date %>" data-format="MM/DD/YYYY" id="txtAccountingDate_<%= row.row_index %>" class="form-control form-control-date maskDateLocale" style="min-width:90px;">
            <span class="input-group-addon add-on pr-0 text-center" style="border: 1px solid #ced7db;width: 30px;line-height: 30px;height: 32px;"><i class="icon-ic-schedule icon-ic-calendar"></i></span>
        </div>
    </td>
    <td style="width:25%; vertical-align: middle;">
        <select class="form-control select-box" id="ddlPayerName_<%= row.row_index %>" style="height: 32px;">
            <option value="" i18n="shared.buttons.select"></option>
        </select>
    </td>
    <td style="width:10%;vertical-align: middle;">
            <select class="form-control select-box select-payment-mode" id="ddlPaymentMode_<%= row.row_index %>" style="height: 32px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <option value="cash" i18n="billing.payments.cash"></option>
                    <option value="check" i18n="billing.payments.cheque"></option>
                    <option value="card" i18n="billing.payments.card"></option>
                    <option value="eft" i18n="billing.payments.eft"></option>
                    <option value="adjustment" i18n="billing.payments.adjustments"></option>
            </select>
    </td>
    <td style="width:10%; vertical-align: middle;">
        <input id="txtCheckCardNo_<%= row.row_index %>" type="text" value="<%= row.card_number %>" class="checkcardno form-control integerbox">
    </td>
    <td style="width: 5%;  vertical-align: middle;">
        <input type="button" value="APPLY" id="btnApplyPayment_<%= row.row_index %>" i18n="report.reportFilter.apply" class="pl-3 pr-3 btn pull-left paymentApply">
    </td>
    <td style="width:8%;vertical-align: middle;">
        <span class="form-control floatbox" id="spThisPay_<%= row.row_index %>" style="background-color: transparent;"><%= row.payment_applied ? row.payment_applied : 0.00 %></span>
    </td>
    <td style="width:8%;vertical-align: middle;">
        <span class="form-control floatbox" id="spThisAdj_<%= row.row_index %>" style="background-color: transparent;"><%= row.adjustment_applied ? row.adjustment_applied : 0.00 %></span>
    </td>
    <td  style="width:7%;vertical-align: middle;">
        <span class="paymentid form-control" id="spPaymentID_<%= row.row_index %>" style="background-color: transparent;"><%= row.id %></span>
    </td>

</tr>
