<style>
        div#pageHeaderTab, .viztek-nav {
            display: none !important;
        }
    
        div#divEditOrderHeader, #profile_panel {
            display: none !important;
        }
    
        #divOrderFrame {
            padding-left: 0 !important;
            top: 10px !important;
            padding-right: 0px !important;
        }
    
        legend {
            margin-bottom: 10px;
        }
    
        body {
            overflow: hidden;
        }
    
        study {
            display: block;
            margin-bottom: 2px;
        }
    
        .mergeContainer {
            padding: 5px;
            position: relative;
        }
    
        .mergeStudy {
            background-color: #F0F0F0;
            border: solid navy 1px;
            color: black;
            margin: 0px;
            z-index: 0;
        }
    
        #divResultToTaskMergeStudy .mergeStudy {
            transition: .6s;
        }
    
        .mergeStudy > div {
            padding: 10px;
        }
    
        .mergePlusIcon {
            cursor: pointer;
            text-align: center;
            width: 50px;
        }
    
        .mergeSmallIcon {
            cursor: pointer;
            display: block;
            padding: 3px;
        }
    
        .mergeInfo {
            xborder: solid red 1px;
            flex: 1;
            overflow: hidden;
            padding: 1px;
            white-space: nowrap;
        }
    
        .v-scroll {
            overflow-x: hidden;
            overflow-y: auto;
        }
    
        study:hover {
            font-weight: bold;
        }
    </style>
    <form class="form-horizontal form-list">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <legend class="viztekLegend" style="padding-bottom: 5px;">
                            <span><span i18n="billing.fileInsurance.chargeList"></span>
                                <input type="button" id="btnReload" value="Reload" class="btn" style="float:right" i18n="shared.buttons.reload">
                            </span>
                </legend>
                <div id="divAllCPTList" class="col-xs-12 flex-fill v-scroll lightColor ui-common-border">
                </div>
            </div>
            <div class="col-xs-6">
                <legend class="viztekLegend" style="padding-bottom: 5px;">
                            <span><span i18n="billing.fileInsurance.selectedChargeList"></span>
                                <input type="button" id="btnCreateClaim" value="Compile" style="float:right" class="btn" i18n="shared.buttons.save">
                            </span>
                </legend>
                <div id="divSelectedCPTList" class="col-xs-12 flex-fill v-scroll lightColor ui-common-border">
    
                </div>
            </div>
        </div>
    </form>
    
    