/**
* Variables
*/

@page-background: #253137;
@page-color: #fff;
@nav-left-background: #1b282d;
@nav-right-border: #20333a;

@blue: @green;
@blue-50: @green-50;
@blue-100: @green-100;
@blue-200: @green-200;
@blue-300: @green-300;
@blue-400: @green-400;
@blue-500: @green-500;
@blue-600: @green-600;
@blue-700: @green-700;
@blue-800: @green-800;
@blue-900: @green-900;

@blue-a100:@green-100;
@blue-a200: @green-200;
@blue-a400: @green-400;
@blue-a700: @green-700;

@profile-panel-bg: @green-800;

@dg-inverse-background: @green-800;
@dg-background: @green-700;
@th-color: #fff;
@tr-color: #fff;
@dg-border-color-top: transparent;
@gridHeaderColor: @green-700;


@page-bg:@green-700;
@dashboard-bg:@green-700;
@footer_bg:@green-900;

@dg-border-color-top: @green-500;
@dg-border-color: @dg-border-color-top;

body{
	color: @green-100;
	background: #253137;
}

.btn{
	&.btn-clean{
		color: #56C3FF;
	}
}

.btn{
	&.circle{
		background: #0091FE;
		&:hover{
			background: @blue-a200;
		}
	}
}

.btn-block{
	color: #0091FE;
	&:hover{
		color: @blue-a200;
	}
}

input, select, textarea{
	background: @green-800;
}

input, textarea{
	border-color: @green-800 !important;
}

.bootstrap-select > .btn{
	border-color: @green-800;
	background: @green-800;
	color: @green-100;
	&:hover{
		border-color: @green-800 !important;
		background: @green-800 !important;
		color: @green-100 !important;
	}
}

.bootstrap-select{
	&.btn-group{
		.btn{
			.caret{
				&:before{
					color: @green-100 !important;
				}
			}
		}
	}
}

.bootstrap-select.btn-group {
	.dropdown-menu {
		background: @green-800;
		border-color: @green-800;
		li {
			position: relative;
			&:not(.disabled) a:hover small,
			&:not(.disabled) a:focus small,
			&.active:not(.disabled) a small {
				color: @green-100;
				color: fade(@green-100, 40%);
			}
			.notify {
				background: @green-900;
				border: 1px solid @green-900;
			}
		}
		.no-results {
			background: @green-800;
		}
	}
}

.dropdown-menu > li > a, .dropdown-menu > li > label{
	color: @green-100;
}

.dropdown-menu > li.selected a, .dropdown-menu > li.selected label, .dropdown-menu > li:hover a, .dropdown-menu > li:hover label{
	background: @dropdown-highlight;
	color: #fff;
}

.dropdown-menu{
	background: @green-800 !important;
	color: @green-100 !important;
	a, label{
		color: @green-100 !important;
	}
}

.small_dd{
	.dropdown{
		.dropdown-menu{
			li{
				a, label{
					color: @green-100 !important;
				}
				border-color: rgba(255,255,255,0.1);
			}
		}
	}
}

.packery{
	.item{
		background: @green-600;
		-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
		-moz-box-shadow: 0 0 4px 0  rgba(0,0,0,0.2);
		box-shadow: 0 0 4px 0  rgba(0,0,0,0.2);
		border-color: @green-500;
		&:active, &:focus{
			border-color: @green-500;
		}
	}
}

.datagrid-complex {
	background: none;
	> tbody {
		> tr {
			&:hover, &.active {
				> td {
					background: @green-800;
				}
			}
		}
	}
}
.form-control-block{
	background: none;
	border:none;
}
.ul-item{
	span{
		color: #333;
		&.uli-delete{
			i{
				color: #333;
			}
		}
	}
}
.panel-header{
	h3{
		color: #8FA3AD;
	}
}
.datagrid .dg-body tr:nth-child(even){
	background: rgba(54,70,78,0.5);
}
.datagrid .dg-header .dg-filter th{
	background: @green-700;
}
.dg-menu-left {
	.dg-menu {
		> li {
			a {
				color: @white-icon-color !important;
				&:hover{
					color: @white-icon-color-hover !important;
				}
			}
		}
	}
}
.dg-menu-right{
	li{
		a{
			color: @white-icon-color !important;
			&:hover{
				color: @white-icon-color-hover !important;
			}
		}
		ul{
			li{
				a{
					color: @white-icon-color !important;
					i{
						color: @white-icon-color !important;
					}
					&:hover{
						i{
							color: @white-icon-color !important;
						}
					}
				}
			}
		}
	}
}
