<div class="ebs-hcv-request form-group row">

    <div class="col-sm-6">
        <select class="ohip-health-number form-control select-box">
            <option value="">(blank)</value>
            <option value="1286844022">1286 844 022 (test case 1)</value>
            <option value="1102686738">1102 686 738 (test case 2)</value>
            <option value="9267294685">9267 294 685 (test case 3)</value>
            <option value="1023947722">1023 947 722 (test case 4)</value>
            <option value="9287170261">9287 170 261 (test case 5)</value>
            <option value="1006395956">1006 395 956 (test case 6)</value>
            <option value="1357557162">1357 557 162 (test case 7)</value>
            <option value="1262643149">1262 643 149 (test case 8)</value>
            <option value="1097189623">1097 189 623 (test case 9)</value>
            <option value="1097624546">1097 624 546 (test case 10)</value>
            <option value="5123673328">5123 673 328 (test case 11)</value>
            <option value="1108809904">1108 809 904 (test case 12)</value>
            <option value="4525895969">4525 895 969 (test case 13)</value>
            <option value="1268844022">1268 844 022 (test case 14, 18)</value>
            <option value="1268J84402">1268 J84 402 (test case 17)</value>

        </select>
    </div>

    <div class="col-sm-2">
        <select class="ohip-version-code form-control select-box">
            <option value="">(blank)</value>
            <option value="YX">YX (test case 1, 14, 17)</value>
            <option value="J">J (test case 4)</value>
            <option value="DK">DK (test case 5)</value>
            <option value="WG">WG (test case 6)</value>
            <option value="CT">CT (test case 8)</value>
            <option value="AA">AA (test case 10)</value>
            <option value="AN">AN (test case 11)</value>
            <option value="CW">CW (test case 12)</value>
            <option value="RM">RM (test case 13)</value>
            <option value="Y1">Y1 (test case 18)</value>
        </select>

    </div>

    <div class="col-sm-4">
        <select class="ohip-fee-service-code form-control select-box">
            <option value="">(blank)</value>
            <option value="A110">A110 (test case 3, 5)</value>
            <option value="P108">P108 (test case 4)</value>
            <option value="J695">J695 (test case 7)</value>
            <option value="V406">V406 (test case 8)</value>
            <option value="X148">X148 (test case 9)</value>
            <option value="A237">A237 (test case 10)</value>
            <option value="A112">A112 (test case 11)</value>
            <option value="J889">J889 (test case 12)</value>
            <option value="V404">V404 (test case 14)</value>
        </select>
    </div>
</div>
