<div class="modal_div_container_nested">



    <div id="divHCVRequests">

    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <button id="btnAddHCVRequest" class="form-control">Add HCV Request</button>
        </div>
        <div class="col-sm-3">
            <button id="btnHCVSubmit" class="form-control">Submit</button>
        </div>
        <div class="col-sm-3">
            <select id="ddlOHIPUserID" class="form-control select-box">
                <option value="614200">614200 (default)</option>
                <option value="confu0@outlook.com">confu0@outlook.com</option>
                <option value="0102103">0102103</option>

            </select>
        </div>
        <div class="col-sm-3">
            <button id="btnHCVReset" class="form-control">Reset</button>
        </div>

    </div>


</div>
