<select class='ebs-resource-type' <%= (typeof domId === 'undefined') ? '' : 'id="'+domId+'"' %>>
    <option value=""  selected="selected">All Resource Types</option>
    <option value="$$">$$ (invalid)</option>
    <option value="99">99 (invalid)</option>
    <option value="CL">Claims</option>
    <option value="OB">OBEC</option>
    <option value="SDC">Stale Dated Claims</option>
    <option value="RHB">Reciprocal Hospital Billing</option>
    <option value="RA">Remittance Advice</option>
    <option value="BE">Batch Edit</option>
    <option value="ER">Error Reports</option>
    <option value="MR">Claims Mail File Reject Message</option>
    <option value="OO">OBEC Response</option>
    <option value="ES">Error Report Extract</option>
    <option value="RS">Remittance Advice Extract</option>
    <option value="AH">Academic Health Governance Report</option>
    <option value="CO">EC Outside Use report</option>
    <option value="CS">EC Summary report</option>
    <option value="NS">Northern Specialist APP Governance</option>
    <option value="OR">OBEC Mail File Reject Message</option>
    <option value="GCM">General Ministry Communications</option>
    <option value="PSP">Payment Summary Report PDF</option>
    <option value="PSX">Payment Summary Report XML</option>
    <option value="RCP">Roster Capitation Report PDF</option>
    <option value="RCX">Roster Capitation Report XML</option>
    <option value="VAP">ADP Vendor Report PDF</option>
    <option value="VHP">Home Oxygen Vendor Report PDF</option>
    <option value="VAX">ADP Vendor Report Excel</option>
    <option value="VHX">Home Oxygen Vendor Report Excel</option>

</select>
