<div style="width: 100%; padding: 1rem;">
    <%  if (data.length) {
        _.each(data, function(eraData) { %>
    <div class="row" id="payerDetails" style="margin: auto;">
        <div class="col">
            <div class="form-group form-inline">
                <label id="lblInsPRoviderName" for="auditFromDate" i18n="billing.payments.insuranceProvider" class="control-label">
                </label>
                <label class="control-label"> :
                    <b>
                        <%= eraData.payerIdentification && eraData.payerIdentification.name ? eraData.payerIdentification.name : '' %>
                    </b>
                </label>
            </div>
            <div class="form-group form-inline">
                <label id="lblPayerId" for="auditFromDate" i18n="billing.payments.payerID" class="control-label"></label>
                <label class="control-label">
                    : <br />
                    <b>
                        <%= eraData.payerIdentification && eraData.payerIdentification.idCode ? eraData.payerIdentification.idCode : '' %>
                    </b>
                </label>
            </div>
            <div class="form-group form-inline">
                <label id="paymentDate" for="auditFromDate" i18n="billing.claims.date" class="control-label">
                </label>
                <label class="control-label">
                    : <br />
                    <b>
                        <%= eraData.financialInformation && eraData.financialInformation.length > 0 ? eraData.financialInformation[0].date || '' : '' %>
                    </b>
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-group form-inline">
                <label id="lblInsProviderAddress" i18n="billing.claims.address" for="auditFromDate" class="control-label">
                </label>
                <label class="control-label">
                    : <br />
                    <b>
                        <%= eraData.payerIdentification && eraData.payerIdentification.payerAddress && eraData.payerIdentification.payerAddress.addressInformation ? eraData.payerIdentification.payerAddress.addressInformation : '' %>
                    </b>
                </label>
            </div>
            <div class="form-group form-inline">
                <label id="lblInsProviderCityState" for="auditFromDate" i18n="setup.billingprovider.cityStateZip" class="control-label">
                </label>
                <label class="control-label">
                    : <br />
                    <b>
                        <%= eraData.payerIdentification && eraData.payerIdentification.payerCityStateZipCode && eraData.payerIdentification.payerCityStateZipCode.payerCity ? eraData.payerIdentification.payerCityStateZipCode.payerCity : '--' %>/
                        <%= eraData.payerIdentification && eraData.payerIdentification.payerCityStateZipCode && eraData.payerIdentification.payerCityStateZipCode.payerState ? eraData.payerIdentification.payerCityStateZipCode.payerState : '--' %>/
                        <%= eraData.payerIdentification && eraData.payerIdentification.payerCityStateZipCode && eraData.payerIdentification.payerCityStateZipCode.payerZIPCode ? eraData.payerIdentification.payerCityStateZipCode.payerZIPCode : '--' %>
                    </b>
                </label>
            </div>
            <div class="form-group form-inline">
                <label id="lblInsProviderPhoneNo" for="auditFromDate" i18n="billing.claims.phone" class="control-label">
                </label>
                <label class="control-label">
                    : <br />
                    <b>
                        <%= eraData.payerIdentification && eraData.payerIdentification.payerContactInformation && eraData.payerIdentification.payerContactInformation.commNumber1 ? eraData.payerIdentification.payerContactInformation.commNumber1 : '' %>
                    </b>
                </label>
            </div>
        </div>
    </div>
    <% _.each(eraData.headerNumber, function(headerNumber) { %>
    <div>
        <% _.each(headerNumber.claimPaymentInformation, function(claimPaymentInformation) { %>
        <div style="margin-top: 20px;">
            <div class="col-md-12" style="border-top: 2px solid #d6d6d6; padding-top: 10px;">
                <div class="col-md-6 topMargin" style="float: left;">
                    <label i18n="billing.fileInsurance.patientName">
                    </label>
                    <label> :
                        <%= claimPaymentInformation.patientName && claimPaymentInformation.patientName.lastName ? claimPaymentInformation.patientName.lastName : '' %>,
                        <%= claimPaymentInformation.patientName && claimPaymentInformation.patientName.firstName ? claimPaymentInformation.patientName.firstName : '' %>
                    </label>
                </div>
                <div class="col-md-6 topMargin" style="float: right;">
                    <label i18n="billing.claims.paid">
                    </label>
                    <label> :
                        <%= claimPaymentInformation.paidAmount || '0.00' %>
                    </label>
                </div>
                <div class="col-md-6 topMargin" style="float: right;">
                    <label i18n="billing.claims.patientResponsible">
                    </label>
                    <label> :
                        <%= claimPaymentInformation.patientResponsibleAmount || '0.00' %>
                    </label>
                </div>
                <div class="col-md-6 topMargin" style="float: right;">
                    <label i18n="billing.fileInsurance.claimNo">
                    </label>
                    <label> :
                        <%= claimPaymentInformation.claimNumber || '' %>
                    </label>
                </div>
                <div class="col-md-6 topMargin" style="float: right;">
                    <label i18n="billing.claims.claimStatusCode">
                    </label>
                    <label> :
                        <%= claimPaymentInformation.claimStatusCode || '' %>
                    </label>
                </div>
                <div class="col-md-6 topMargin" style="float: right; margin-bottom: 10px;">
                    <label i18n="billing.claims.payerClaimControlNoClaimRef"/>:
                    <label> :
                        <%= claimPaymentInformation.payerClaimContorlNumber || '' %>
                    </label>
                </div>
                <div>
                </div>
                <div style="padding-top: 20px;">
                    <table class="table table-bordered table-striped">
                        <tr class="thead-light">
                            <th i18n="report.reportFilter.cpt">CPT</th>
                            <th i18n="setup.common.modifier">Modifier</th>
                            <th i18n="shared.fields.billFee">Bill Fee</th>
                            <th i18n="billing.payments.amount">Amount</th>
                            <th i18n="billing.claims.date">Date</th>
                        </tr>
                        <% var totalBillFee  = 0  %>
                        <% var totalAmount  = 0  %>
                        <% _.each(claimPaymentInformation.servicePaymentInformation, function(servicePaymentInformation) { %>
                        <% totalBillFee  += parseFloat(servicePaymentInformation.billFee)  %>
                        <% totalAmount  += parseFloat(servicePaymentInformation.paidamount)  %>
                        <tr>
                            <td>
                                <%= servicePaymentInformation.qualifierData && servicePaymentInformation.qualifierData.cptCode ? servicePaymentInformation.qualifierData.cptCode : '' %>
                            </td>
                            <td>
                                <%= servicePaymentInformation.qualifierData && servicePaymentInformation.qualifierData.modifier1 ? servicePaymentInformation.qualifierData.modifier1 : '' %>
                            </td>
                            <td>
                                <%= servicePaymentInformation.billFee || '' %>
                            </td>
                            <td>
                                <%= servicePaymentInformation.paidamount || '' %>
                            </td>
                            <td>
                                <%= servicePaymentInformation.serviceDate && servicePaymentInformation.serviceDate.serviceDate ? servicePaymentInformation.serviceDate.serviceDate : ''  %>
                            </td>
                        </tr>
                        <% }); %>
                        <tr>
                            <td> </td>
                            <td></td>
                            <td class="txtAlignRight"> Total : $<span class="maskFee">
                                    <%= totalBillFee %></span>
                            </td>
                            <td class="txtAlignRight"> Total : $<span class="maskFee">
                                    <%= totalAmount %></span>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% }); %>
    <% });
    } else { %>
    <div class="col-xs-12 text-center">
        <h6><b><label i18n="billing.era.eraFileNotFound"></label></b></h6>
    </div>
    <% } %>
</div>
