<style>
    #root {
        margin-top: 60px;
    }
</style>
<div class="form-horizontals">
    <div class="row">
        <div class="col">
            <span id="spScreenName" style="font-weight: bold; margin-left: 5px !important;font-size: large;vertical-align: -webkit-baseline-middle; display: none;">EOB</span>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" id="btnReloadERA" style="float: right; margin-top: 3px; margin-left: 3px !important; display: none;"
                i18n="shared.buttons.reload"></button>
            <input type="button" id="btnReloadERALocal" class="btn btn-primary" style="float: right; margin-top: 3px; margin-left: 3px !important;"
                i18n="shared.buttons.reload">
            <button type="button" class="btn btn-primary" id="btnImportERA" style="float: right; margin-top: 3px; margin-left: 3px !important; display: none;"
                i18n="shared.buttons.import"></button>
            <iframe id="ifrEobFileUpload" frameborder="0" scrolling="no" src="/exa_modules/billing/era/upload"
             style="border: none; height: 38px !important; float:right;">
            </iframe>
        </div>
    </div>
</div>
<div class="col-xs-12" style="margin-left: 0px !important;">
    <div class='Grid' id='divGrid_EOBFileList' style="margin-top: 1%">
        <table id="tblEOBFileList"></table>
        <div id="gridPager_EOBFileList"></div>
    </div>
</div>
<div id="divEraResult" class="modal eramodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 70%;left: 14%;">
            <div class="modal-header">
              <h5 class="modal-title" id="eraResultTitle"></h5>
              <button type="button" class="close btnCloseEraResultDiv" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <table border = "1" id="eraResultTable" class="table table-bordered" style="border: 10px solid #dee2e6;">
                    </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btnCloseEraResultDiv">Close</button>
            </div>
          </div>
        </div>
</div>