<style>
    .col1 {
        /* width: 85%; */
        height: 35px;
    }

    .col2 {
        /* width: 25%; */
        height: 35px;
    }

    .col3 {
        width: 80%;
        height: 35px;
    }

    .paddingBottomDiv {
        padding-bottom: 10px;
    }
</style>
<div id="divPendingPayment" class="divBackgroundPayment form-horizontal form-list commonBorder">
    <div id="applyPaymentContent">
        <table class="table" style="margin-bottom: 0;">
            <tr>
                <td style="width:30%;border:none !important;" align="center">
                    <span i18n="billing.payments.totalBillFee"></span> :
                    <span id="spApplyTotalFee"></span>
                </td>
                <td style="width:30%;border:none !important;" align="center">
                    <span i18n="billing.payments.appliedPayment"></span> : 
                    <span id="spPaymentApplied"></span>
                </td>
                <td style="width:30%;border:none !important;" align="center">
                    <span i18n="billing.payments.appliedAdjustment"></span> :
                    <span id="spAdjustmentApplied"></span>
                </td>
                <td style="width:10%;border:none !important;">
                    <label class="checkbox-inline">
                        <input class="checkDebit" type="checkbox" style="display: block; margin-top: 4px; margin-right: 4px;"> DR
                    </label>
                </td>
            </tr>
        </table>
        <div id="divApplyPendingPayments" style="overflow: auto;">
            <input type="hidden" id="hdnOrderId" />
            <input type="hidden" id="hdnPaymentId" />
            <table id="tblApplyPendingPayments" class="table-bordered scroll" style="text-align: center;">
                <thead id="thApplyPendingPayments" style="background: #f5f5f5;">
                    <td>
                        <span i18n="billing.payments.cptCode"></span>
                    </td>
                    <td>
                        <span i18n="billing.payments.cptDescription"></span>
                    </td>
                    <td>
                        <span i18n="billing.payments.billFee"></span>
                    </td>
                    <td>
                        <span i18n="billing.payments.payment"></span>
                    </td>
                    <td width="10%">
                        <span i18n="billing.payments.thisPayment"></span>
                    </td>
                    <td width="10%">
                        <span i18n="billing.payments.allowed"></span>
                    </td>
                    <td>
                        <span i18n="billing.payments.adjustment"></span>
                    </td>
                    <td width="10%">
                        <span i18n="billing.payments.thisAdj"></span>
                    </td>
                    <td>
                        <span i18n="billing.payments.balance"></span>
                    </td>
                    <td>
                        <span i18n="billing.payments.cas"></span>
                    </td>
                </thead>
                <tbody id="tBodyApplyPendingPayment">
                </tbody>
            </table>
        </div>
        <div style="text-align: right;margin: 10px 0 10px 0;">
            <input type="button" id="btnPayfullAppliedPendingPayments" style="float:left;" class="btn btn-default btn-primary" value="Pay in full"
                i18n="billing.payments.payInFull">
            <input type="button" id="btnSaveAppliedPendingPayments" class="btn btn-default btn-primary" i18n="shared.buttons.saveAll"
                value="Save All">
            <input type="button" id="btnClearAppliedPendingPayments" class="btn btn-default" value="Clear" i18n="shared.buttons.clear">
            <span id="spPaymentID"></span>
        </div>
        <div class="col-lg-12">
            <form id="formBillingProviders" class="form-horizontals">
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label class="control-label  col-sm-4">
                                <span i18n="billing.payments.totalBillFee"></span> :</label>

                            <div class="col-sm-3">
                                <label id="lblBillingFee"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4">
                                <span i18n="billing.payments.otherPaid"></span> :</label>
                            <div class="col-sm-3">
                                <label id="lblOthers"><%= others_paid %> </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4">
                                <span i18n="billing.payments.adjustment"></span> :</label>
                            <div class="col-sm-3">
                                <label id="lblAdjustment"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4">
                                <span i18n="billing.payments.patientPaid"></span> :</label>
                            <div class="col-sm-3">
                                <label id="lblPatient"><%= patient_paid %> </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4">
                                <span i18n="billing.payments.balance"></span> :</label>
                            <div class="col-sm-3">
                                <label id="lblBalanceNew"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <label class="control-label field-required col-sm-5" i18n="billing.payments.responsible"></label>
                            <div class="col-sm-5">
                                <select id="ddlResponsible" class="form-control" style="width:250px">
                                    <option data_code="0" value="0" i18n="shared.buttons.select">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-5" i18n="billing.payments.adjustmentCode"></label>

                            <div class="col-sm-5">
                                <select id="ddlAdjustmentCode_fast" class="form-control form-control-lg adjustmentCode" style="height:30px;">
                                    <option data_id='0' data_code="0" value="0" i18n="shared.buttons.select"></option>
                                    <% _.each(adjustmentCodes, function(adjustmentCode) { %>
                                        <option data_id='<%= adjustmentCode.id %>' data_code='<%= adjustmentCode.code %>' data_codetype='<%= adjustmentCode.type %>'
                                            value='<%= adjustmentCode.id %>-<%= adjustmentCode.amount %>-<%= adjustmentCode.type %>'>
                                            <%= adjustmentCode.description %>(
                                                <%= adjustmentCode.code %>)
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-5" for="txtResponsibleNotes" i18n="billing.payments.billingNotes"></label>
                            <div class="col-sm-5">
                                <textarea class="form-control" id="txtResponsibleNotes" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <label class="control-label col-sm-4" i18n="billing.payments.deduction"> :</label>
                            <div class="col-sm-5">
                                <input type="text" id="txtDeduction" value="0.00" class="form-control input-xs floatbox">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" i18n="billing.payments.coInsurance"> :</label>
                            <div class="col-sm-5">
                                <input type="text" id="txtCoInsurance" value="0.00" class="form-control input-xs floatbox">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-4" i18n="billing.payments.coPay"> :</label>
                        
                            <div class="col-sm-5">
                                <input type="text" id="txtCoPay" value="0.00" class="form-control input-xs floatbox">
                            </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="divPaymentCAS" class="divBackgroundPayment form-horizontal commonBorder" style="display: none; position: absolute; border-radius:10px;z-index:10000; width: 97.5%; padding:20px;background-color: white;  
          text-align: center;top: 2%;border: 1px solid #dee2e6;">
    <div class="row modal-header" style="margin-bottom: 10px;">
        <div class="col">
            <span class="cobAmount" i18n="billing.COB.groupCode"></span>
        </div>
        <div class="col">
            <span class="cobAmount" i18n="billing.COB.reason"></span>
        </div>
        <div class="col">
            <span class="cobAmount" i18n="billing.COB.amount"></span>
        </div>
    </div>
    <div class="col-lg-12 paddingBottomDiv ">
        <div class="row">
            <div class="col">
                <select id="selectGroupCode1" class="col1">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.code %> - <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <select id="selectReason1" class="col2">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.code %> - <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <input type="text" class="col3 floatbox" id="txtAmount1">
            </div>
        </div>
    </div>
    <div class="col-lg-12 paddingBottomDiv ">
        <div class="row">
            <div class="col">
                <select id="selectGroupCode2" class="col1">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.code %> - <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <select id="selectReason2" class="col2">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.code %> - <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <input type="text" id="txtAmount2" class="col3 floatbox">
            </div>
        </div>
    </div>
    <div class="col-lg-12 paddingBottomDiv ">
        <div class="row">
            <div class="col">
                <select id="selectGroupCode3" class="col1">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.code %> - <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <select id="selectReason3" class="col2">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.code %> - <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <input type="text" id="txtAmount3" class="col3 floatbox">
            </div>
        </div>
    </div>
    <div class="col-lg-12 paddingBottomDiv ">
        <div class="row">
            <div class="col">
                <select id="selectGroupCode4" class="col1">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.code %> - <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <select id="selectReason4" class="col2">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.code %> - <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <input type="text" id="txtAmount4" class="col3 floatbox">
            </div>
        </div>
    </div>
    <div class="col-lg-12 paddingBottomDiv ">
        <div class="row">
            <div class="col">
                <select id="selectGroupCode5" class="col1">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.code %> - <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <select id="selectReason5" class="col2">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.code %> - <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <input type="text" id="txtAmount5" class="col3 floatbox">
            </div>
        </div>
    </div>
    <div class="col-lg-12 paddingBottomDiv ">
        <div class="row">
            <div class="col">
                <select id="selectGroupCode6" class="col1">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.code %> - <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <select id="selectReason6" class="col2">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.code %> - <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <input type="text" id="txtAmount6" class="col3 floatbox">
            </div>
        </div>
    </div>
    <div class="col-lg-12 paddingBottomDiv ">
        <div class="row">
            <div class="col">
                <select id="selectGroupCode7" class="col1">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.code %> - <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <select id="selectReason7" class="col2">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.code %> - <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div class="col">
                <input type="text" id="txtAmount7" class="col3 floatbox">
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="btnSaveCAS" i18n="shared.buttons.save"></button>
            <button type="button" class="btn btn-primary" id="btnCancelCAS" i18n="shared.buttons.cancel"></button>
    </div>
</div>