<style>
    .pat-info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
        padding: 11px;
    }
</style>
<div id="divPendingPaymentsContainer">
    <div class="tabbable" style="margin-top:20px;margin-bottom: 10px;">
        <ul id="claimsTabs" class="nav tn-menu tn-menu-a">
            <li id="liPendingPayments" class="nav-item">
                <a href="#divPendingPayments" id="aPeningPayments" data-container="All_Claims" class="nav-link active show" data-toggle="tab" i18n="billing.payments.pendingPayments">Pending</a>
            </li>
            <li id="liPendingPaymentsPat" class="nav-item">
                <a href="#divPendingPaymentsPat" id="aPeningPaymentsWithAccInv" data-container="All_Claims" class="nav-link" data-toggle="tab" i18n="billing.payments.pendingPaymentsPat">Pending</a>
            </li>
            <li id="liAppliedPayments" class="nav-item">
                <a href="#divApplidPayments" id="aAppliedPayments" data-container="Follow_up_queue" i18n="billing.payments.appliedPayments" class="nav-link" data-toggle="tab">Applied</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="divPendingPayments" style="margin-top: 10px;">
                <div id="divPendingRecordsOnly">
                    <div align="right" style="margin-bottom:5px;">
                        <input type="button" value="Refresh" id="btnPaymentPendingRefreshOnly" i18n="shared.buttons.refresh" class="btn pendRefresh">
                    </div>
                    <div class='Grid' id='divGrid_pendPaymentsOnly'>
                        <table id="tblpendPaymentsGridOnly"></table>
                        <div id="gridPager_pendPaymentsOnly"></div>
                    </div>
                    <div id="pendPaymentsBalSummaryOnly" align="center" style="margin-top:10px;">
                        <table id="tblPendPaymentBalOnly" class="table table-bordered" style="width:50%!important;">
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="divPendingPaymentsPat" style="margin-top: 10px;">
                <div id="divPendingRecords" style="display: none;">
                    <div align="right" style="height: 50px;">
                        <div class="col-xs-12 pat-info" role="alert">
                        <span id='commonMsg' style="float: left;font-size: large;"> </span>
                        <span id="spnPatInfo" style="font-weight: bold;float: left;margin-left: 5px;font-size: large;"></span>
                        <input type="button" value="Refresh" id="btnPaymentPendingRefresh" i18n="shared.buttons.refresh" class="btn pendRefresh"
                            autocomplete="off">
                            <input type="button" value="Back to Search" id="btnBackToPatient" i18n="billing.payments.backToSearch" class="btn" autocomplete="off">
                        </div>
                    </div>
                    <div class='Grid' id='divGrid_pendPayments' style="margin-top: 10px;">
                        <table id="tblpendPaymentsGrid"></table>
                        <div id="gridPager_pendPayments"></div>
                    </div>
                    <div id="pendPaymentsBalSummary" align="center" style="margin-top:10px;">
                        <table id="tblPendPaymentBal" class="table table-bordered" style="width:50%!important;">
                        </table>
                    </div>
                </div>
                <div id="diVPatient" style="width:97%; margin: auto;">
                    <div id="divGrid">
                        <div class="row" id="searchForm">
                            <div id="divPatientInputs">
                                <div class="col-xs-12">
                                    <div class="form-group form-inline">
                                        <select id="ddlSearchType" class="form-control">
                                            <option value="start" i18n="billing.payments.startsWith">Starts With</option>
                                            <option value="end" i18n="billing.payments.endsWith">Ends With</option>
                                            <option value="contain" i18n="billing.payments.contains">Contains</option>
                                        </select>
                                        <select id="ddlFacilitySearch" class="form-control">
                                            <option value="-1">All</option>
                                            <% _.each(facilities, function(facility) { %>
                                                <option value="<%= facility.id %>">
                                                    <%= facility.facility_name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                        <input type="checkbox" checked="checked" id="chk_isActiveNeeded" style="margin-left: 10px;">
                                        <label for="chk_isActiveNeeded" class="field-chk" i18n="billing.payments.showInactive">&nbsp;Show Inactive</label>

                                        <input type="checkbox" id="chk_PatOwner" style="margin-left: 10px;">
                                        <label for="chk_PatOwner" class="field-chk" id="chk_PatOwner_Vet" i18n="billing.payments.searchOwners" style="display: none;">Search Owners</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 search-field__container">
                                    <div class="form-group form-inline">
                                        <div class="fc-inline" id="searchPatient" style="width: 50%;">
                                            <input type="text" id="lname" class="form-control search-field" i18np="billing.payments.lastName" placeholder="Last Name">
                                            <input type="text" id="fname" class="form-control search-field" i18np="billing.payments.firstName" placeholder="First Name">
                                            <input type="text" id="mrn" class="form-control search-field" i18np="billing.payments.mrn" placeholder="MRN">
                                        </div>
                                        <div class="fc-inline" id="searchInvoice" style="width: 50%;text-align: right;">
                                            <input type="text" id="claimId" class="form-control"  placeholder="Claim Id">
                                            <input type="button" id="anc_search_claim" class="btn" style="margin-right: 10px;" value="Search">
                                            <input type="text" id="invoiceNo" class="form-control" placeholder="Invoice #">
                                            <input type="button" id="anc_search" class="btn" value="Search">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="margin-top: 5px !important;">
                                <div class="patient-search__header">
                                    <span class="patient-search__header-text" i18n="billing.payments.patientSearchResults">Patient Search Results</span>
                                </div>
                                <div class="patient-search__container" style="margin-top: 0px !important; height: 300px; overflow: auto;">
                                    <div id="divNoPatients" class="noRecords" style="display:none;">
                                        <h4>
                                            <span i18n="billing.payments.YourSearch"></span> -
                                            <em id="em_SearchValue">---</em> -
                                            <span i18n="billing.payments.didNotMatchAnyPatients"></span>
                                        </h4>
                                        <div style="margin-top:1em">
                                            <h4>
                                                <span i18n="billing.payments.Suggestions"></span>
                                            </h4>
                                        </div>
                                        <ul style="margin:0 0 2em;margin-left:1.3em">
                                            <li>
                                                <h4>
                                                    <span i18n="billing.payments.tryDifferentKeywords"></span>
                                                </h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="divPatientSearchResults" class="results-on" style="overflow: auto;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="divEmptySearch" style="display:none;">
                            <p style="padding-top:.33em"></p>
                            <h4>
                                <span i18n="billing.payments.pleaseEnterAtleast">Please enter atleast</span>
                                <em id="em_SearchLetters"></em>
                                <span i18n="billing.payments.charactersToSsearch">charactors to search.</span>
                            </h4>
                            <p></p>
                        </div>
                        <div id="divPatientPaging" class="custompage" style="margin-top: 5px !important; display: none; width: 100%;">
                            <div style="width: 46%; float: left;">
                                <span i18n="billing.payments.totalRecords">Total Records :&nbsp;</span>
                                <span id="spnPatientTotalRecords">36</span>
                            </div>
                            <div style="display: inline;">
                                <span i18n="billing.payments.page">Page</span>
                                <span id="spnPatientCurrentPage">1</span>
                                <span i18n="billing.payments.of">of</span>
                                <span id="spnPatientTotalPage">4</span>
                            </div>
                            <div class="pagination pagination-right" style="margin-right: 5px; margin-top: 0px; margin-bottom: 0px; float: right;">
                                <ul>
                                    <li id="li_first" class="disabled" disabled="disabled">
                                        <a title="Go to first page" href="javascript:void(0);" id="anc_first" data-container="first_gridPager">
                                            <i class="icon-ic-first"></i>
                                        </a>
                                    </li>
                                    <li id="li_previous" class="disabled" disabled="disabled">
                                        <a title="Go to previous page" href="javascript:void(0);" id="anc_previous" data-container="prev_gridPager">
                                            <i class="icon-ic-backward"></i>
                                        </a>
                                    </li>
                                    <li id="li_next">
                                        <a title="Go to next page" href="javascript:void(0);" id="anc_next" data-container="next_gridPager">
                                            <i class="icon-ic-forward"></i>
                                        </a>
                                    </li>
                                    <li id="li_last">
                                        <a title="Go to last page" href="javascript:void(0);" id="anc_last" data-container="last_gridPager">
                                            <i class="icon-ic-last"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="divApplidPayments" style="margin-top: 10px;">
                <div>
                    <div align="right" style="margin-bottom:5px;">

                        <input type="button" value="Refresh" id="btnAppliedPayRefresh" i18n="shared.buttons.refresh" class="btn appliedRefresh">
                    </div>
                    <div class='Grid' id='divGrid_appliedPayments'>
                        <table id="tblAppliedPaymentsGrid"></table>
                        <div id="gridPager_appliedPayments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>