<style>
    .payerFieldsRadio .payerFields {
        display: inline;
    }

    #gbox_tblAppliedPaymentsGrid,
    #gbox_tblpendPaymentsGrid {
        margin: auto;
    }

    #PaymentForm .select2-container {
        z-index: 999;
    }

    .maskPendingPay {
        opacity: 0.4;
        pointer-events: none;
    }

    #select2-ddlAdjustmentCode_fast-results .select2-results__option[title="Refund Adjustment"] {
        background: #e2e2e2 !important;
    }

    #select2-ddlAdjustmentCode_fast-results .select2-results__option[title="Recoupment Adjustment"] {
        background:  #bbb8b8 !important;
    }

    .floatbox, .textRight{
        text-align: right;
    }

    .rightAlign{
        display: block !important;
        width: 90%;
        text-align: right;
    }

    #divPendingPaymentsContainer .ui-jqgrid-bdiv{
        overflow-x: hidden !important;
    }
</style>

<div class="form-group row">
    <div class="col-lg-12">
        <form id="PaymentForm" class="form-horizontals" style="margin-top: 25px;">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="lblPayerID" class="control-label col-sm-4" i18n="billing.payments.paymentID"></label>
                        <div class="col-sm-3">
                            <label class="pad-top-6 w70 rt-offset10" id="lblPayerID"> -- </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="selectPayerType" class="control-label field-required col-sm-4" i18n="billing.payments.payer">
                        </label>
                        <div class="col-sm-3 payerFieldsRadio">
                            <select id="selectPayerType" tabindex="1">
                                <option value="0">Select</option>
                                <option value="insurance" selected>Insurance</option>
                                <option value="patient">Patient</option>
                                <option value="ordering_facility">Ordering Facility</option>
                                <option value="ordering_provider">Provider</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="chkpayerInsurance" class="control-label col-sm-4"></label>
                        <div class="col-sm-5">
                            <div id="divPayerInsurnace" class="payerFields">
                                <span>
                                    <input type="hidden" id="hdnPayerID" class="form-control">
                                    <select id="txtautoPayerPIP" tabindex="2"></select>
                                    <a disabled='disabled' class="btn btn-primary selectInsurance" id="spnSearchPayerInsurance" title="Search">
                                        <i class="icon-ic-search"></i>
                                    </a>
                                    <input type="button" class="btnInsuranceSelectSave d-none" id="btnInsuranceSelectSave">
                                    <span id="lblAutoInsurance" disabled> </span>
                                </span>
                            </div>
                            <div id="divPayerPatient" style="display:none;" class="payerFields">
                                <span>
                                    <select id="txtautoPayerPP" style="width:450px;" tabindex="2"></select>
                                    <a disabled='disabled' class="btn btn-primary selectPatientSave" id="spnSearchPayerPatient" title="Search">
                                        <i class="icon-ic-search"></i>
                                    </a>
                                    <input type="button" class="btnPatientSelectSave d-none" id="btnPatientSelectSave">
                                    <span id="lblAutoPatient"> </span>
                                </span>
                            </div>
                            <div id="divPayerOrderFacility" style="display:none;" class="payerFields">
                                <span>
                                    <select id="txtautoPayerPOF" tabindex="2"></select>
                                    <a disabled='disabled' class="btn btn-primary selectOrderingFac" id="spnSearchPayerPOF" title="Search">
                                        <i class="icon-ic-search"></i>
                                    </a>
                                    <input type="button" class="btnOFSelectSave d-none" id="btnOFSelectSave">
                                </span>
                            </div>
                            <div id="divPayerProvider" style="display:none;" class="payerFields">
                                <span>
                                    <select id="txtautoPayerPR" tabindex="2"></select>
                                    <a disabled='disabled' class="btn btn-primary searchProvider" id="spnSearchPayerPR" title="Search">
                                        <i class="icon-ic-search"></i>
                                    </a>
                                    <input type="button" class="btnRefProviderSelectSave d-none" id="btnRefProviderSelectSave">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="divInputType">
                            <label for="chkpayerInsurance" class="control-label col-sm-4" id="lblInputType" i18n="billing.payments.inputType"></label>
                        <div class="col-sm-8 mt-auto">
                            <span class="radio-inline" for='chkIpEob' id='lblIpEob'>
                                <input id='chkIpEob' tabindex="3" type='radio' class="inputType mt-3" name="ipType" value='inpEOB'>
                                <label for="chkIpEob" class="field-chk mb-2" style="min-width: 20px!important" i18n="billing.payments.eob"></label>
                            </span>
                            <span class="radio-inline ml-2" for='chkIpInvoice' id='lblIpInvocie'>
                                <input id='chkIpInvoice' tabindex="4" type='radio' class="inputType ml-3" name="ipType" value='inpInvoice'>
                                <label for="chkIpInvoice" class="field-chk ml-2" style="min-width: 20px!important" i18n="billing.payments.invoice"></label>
                            </span>
                            <input type="text" id="txtInvoice" class="form-control invoiceNo" i18np="billing.payments.invoice" tabindex="5" style=" width: 160px;display: inline;" tabindex="10">
                            <input type="button" id="btnPaymentApplyAll" class="btn btn-default" tabindex="5" value="Apply All" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="referencePaymentID" class="control-label col-sm-3" i18n="billing.payments.referencePaymentID"></label>

                        <div class="col-sm-4">
                            <input type="text" id="referencePaymentID" class="form-control" tabindex="8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ddlpaymentReason" class="control-label col-sm-3" i18n="billing.payments.paymentReason"></label>
                        <div class="col-sm-4">
                            <select class="form-control" id="ddlpaymentReason" tabindex="9">
                                <option value="">Select</option>
                                <% _.each(paymentReasons, function(paymentReason) { %>
                                    <option value="<%= paymentReason.id %>">
                                        <%= paymentReason.description %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ddlPaidLocation" class="control-label col-sm-3" i18n="billing.payments.paidLocation"></label>
                        <div class="col-sm-4">
                            <select class="form-control" id="ddlPaidLocation" class="paidLocation" tabindex="10">
                                <option value="0">Select</option>
                                <% _.each(paidlocation, function(facility) { %>
                                    <option value="<%= facility.id %>">
                                        <%= facility.facility_name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                            <label for="selectPaymentMode" class="control-label field-required col-sm-3" i18n="billing.payments.paymentASmode"></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="selectPaymentMode" tabindex="11">
                                    <option value="0">Select</option>
                                    <option value="cash" i18n="billing.payments.cash"></option>
                                    <option value="check" i18n="billing.payments.cheque"></option>
                                    <option value="card" i18n="billing.payments.card"></option>
                                    <option value="eft" i18n="billing.payments.eft"></option>
                                    <option value="adjustment" i18n="billing.payments.adjustments"></option>
                                </select>
                            </div>
                        </div>
                    <!-- <div class="form-group row payerFields" id="divMethodInsurance">
                        <label for="txtInvoice" class="control-label col-sm-3" i18n="setup.userSettings.invoiceNo" for="txtInvoice">Invoice</label>

                        <div class="col-sm-4">
                            <input type="text" id="txtInvoice" class="form-control invoiceNo" />
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="control-label  field-required col-sm-4" for="txtAccountingDate" i18n="billing.payments.accountingDate"></label>
                        <div class="col-sm-4">
                            <div id="divAccountingDate" class="input-group" style="min-width: 224px;">
                                <input type="text" id="txtAccountingDate" style="min-width: 195px;" class="form-control form-control-date" name="fromDate" tabindex="6" placeholder="MM/DD/YYYY">
                                <span class="input-group-addon add-on" style="padding-right: 0px;border: 1px solid #ced7db;width: 30px;text-align: center;line-height: 30px;">
                                    <i class="icon-ic-schedule"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label field-required col-sm-4" for="txtAmount" i18n="billing.payments.amount"></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtAmount" class="form-control maskFee floatbox" tabindex="7"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lblApplied" class="control-label col-sm-4" i18n="billing.payments.applied"></label>
                        <div class="col-sm-3">
                            <label class="pad-top-6 w70 rt-offset10 rightAlign" id="lblApplied"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lblBalance" class="control-label col-sm-4" i18n="billing.payments.balance"></label>
                        <div class="col-sm-3">
                            <label class="pad-top-6 w70 rt-offset10 rightAlign" id="lblBalance"></label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="control-label  col-sm-3 " for="txtCheque" i18n="billing.payments.chequeCardNo"></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCheque" class="form-control" tabindex="12"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label  col-sm-3 " for="txtCardName" i18n="billing.payments.cardName"></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCardName" class="form-control" tabindex="13"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label  col-sm-3" for="txtNotes" i18n="shared.buttons.notes"></label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="txtNotes" rows="4" style="width: 400px;" tabindex="14"></textarea>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</div>
</div>
<div id="PaymentForm">
    <div class="form-horizontal form-list">
        <div class="">
            <input type="hidden" id="hdnOldPayerFlag>">
            <input type="hidden" id="hdnOldInvoiceNo">
            <input type="hidden" id="hdnOldPayerId">
        </div>

        <div class="col-md-12">
            <div class="col-form-content">
                <input type="button" id="btnPaymentSave" class="btn btn-default btn-primary savePayment" i18n="shared.buttons.save" tabindex="15">
                <input type="button" id="btnPaymentInvoice" class="btn btn-default" i18n="shared.buttons.invoice " style="display: none">
                <input type="button" id="btnPaymentAddNew" class="btn btn-default addnew" i18n="shared.buttons.addNew" tabindex="16">
                <input type="button" id="btnPaymentClear" class="btn btn-default clearAdd" i18n="shared.buttons.clear" tabindex="17">
                <input type="button" id="btnPaymentPrint" class="btn btn-default printPayment" i18n="shared.buttons.print" tabindex="18">
                <input type="button" id="btnPrintReceipt" class="btn btn-default printReceipt" i18n="billing.payments.printReceipt" tabindex="19">
                <input type="button" id="btnPaymentRefClick" class="btn btn-default paymentRefresh" i18n="shared.buttons.refresh" style="display:none;">
                <input type="button" id="btnPaymentDelete" class="btn btn-default paymentDelete" i18n="shared.buttons.delete" tabindex="20">
                <input type="button" id="btnPaymentBack" class="btn btn-default paymentDelete" i18n="shared.buttons.back" tabindex="21">
            </div>
        </div>
        <div id="divPendingPay" class="col-xs-12">
        </div>
    </div>
</div>
</div>

<div id="divStudyCpt" style="margin-top:10px;">
    <div class='Grid' id='divGrid_studyCpt'>
        <table id="tblStudyCpt"></table>
        <div id="gridPager_studyCpt"></div>
    </div>
</div>
