<style>
    #divDatePeriod label {
        display: inline;
    }

    #root {
        margin-top: 60px;
    }

    .fontBold{
        font-weight: bold;
    }

    #divPaymentFilter .multiselect-container input[type=checkbox]{
        margin: 9px 5px 0 0;
    }

    #divPaymentFilter .multiselect-container label{
        padding-left: 0;
    }
</style>
<form id="formPayments" class="form-horizontals">

    <div class="row" id="divPaymentFilter">
        <div class="col-sm-2">
            <div class="col-form-label ml-3 pb-1" >
                <label for="ulPaymentStatus" class="control-labels ml-2" i18n="billing.payments.paymentStatus"></label>
            </div>
            <div class="col-form-label ml-4 pt-0">
                <select id="ulPaymentStatus" class="multiselect" multiple="multiple" maxHeight=5 style="height: 40px;">
                    <% _.each(paymentStatus, function(status) { %>
                        <option value="<%= status.value %>"><%= status.text %></option>
                        <% }); %>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-xs-8 col-md-8 col-lg-8 text-center">
                <div class="col-form-label pl-1">
                    <input type="button" value="Apply TOS Payment" i18n="shared.buttons.tos" id="btnTOSPayment" class="btn-sm btn btn-primary ml-1">
                </div>
                <div class="col-form-label p-0">
                        <input type="button" value="Small Balance Adjustment" i18n="shared.buttons.smallBalanceAdjustment" id="btnAdjustmentWriteOff" class="btn-sm btn btn-primary ml-1">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-xs-4 col-md-4 col-lg-4 text-center p-1">
                <div class="col-form-label">
                    <label class="control-labels" i18n="Payment Total" i18n="billing.payments.paymentTotal"></label>
                </div>
                <span id="divAmountTotal" class="fontBold">
                        <i class="fa fa-spinner loading-spinner"></i>
                </span>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-center p-1" id="divApplyTotal">
                <div class="col-form-label">
                    <label class="control-labels"  i18n="billing.payments.appliedTotal"></label>
                </div>
                <span id="divAppliedTotal" class="fontBold">
                    <i class="fa fa-spinner loading-spinner"></i>
                </span>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-center p-1" id="divAdjustmentTotal">
                <div class="col-form-label">
                    <label class="control-labels"  i18n="billing.payments.adjustmentTotal"></label>
                </div>
                <span id="divAdjTotal" class="fontBold">
                    <i class="fa fa-spinner loading-spinner"></i>
                </span>
            </div>
            </div>
        <div class="col-sm-4">
            <input type="button" value="Search" id="btnStatusSearch" i18n="shared.buttons.search" class="btn-sm btn btn-primary" style="display: none;">
            <input type="button" value="Add New" id="btnPaymentAdd" i18n="shared.buttons.addNew" class="btn-sm btn btn-danger addnew">
            <input type="button" value="Refresh" id="btnPaymentRefresh" i18n="shared.buttons.refresh" class="btn-sm btn btn-primary">
            <button type="button" class="btn-sm btn btn-primary" id="btnGenerateExcel" i18n="shared.buttons.export" i18n="report.reportFilter.exportToExel"
                data-rformat="xlsx">
                <i class="fa fa-file-excel-o"></i> Export</button>
            <button type="button" class="btn-sm btn btn-primary" id="btnGeneratePDF" i18n="billing.payments.generatepdf"
                data-rformat="pdf" style="margin: 3px 0;">
                <i class="fa fa-file-excel-o"></i> Generate PDF </button>
        </div>
    </div>
    <div class="col-xs-12">
        <div class='Grid' id='divGrid_payments'>
            <table id="tblpaymentsGrid"></table>
            <div id="gridPager_payments"></div>
        </div>

        <div class='Form' id='divForm_payments'>
        </div>
    </div>

    <div id="divForReportIframe" style="display: none; box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);overflow: auto;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px !important;">
                <h5>
                    <input type="button" style="float: right; margin-right: 10px !important;" value="Back" id="btnBackReport" class="btn btn-primary"
                        i18n="shared.buttons.back">
                    <label style="font-weight: bold; margin-left: 10px !important;" i18n="report.reportFilter.reportPreview"></label>
                </h5>
                <hr>
            </div>
        </div>
    </div>
    </div>
    <div id="showColor" class="lightDivBackGroundColor" style="border:1px solid #B0B2B4;background-color: #f8f8f8;display:none; padding: 5px;">
        <div style="margin:10px">
        </div>
    </div>
</form>
