<style>
    .col1 {
        width: 85%;
        height: 35px;
    }

    .col2 {
        width: 25%;
        height: 35px;
    }

    .col3 {
        width: 80%;
        height: 35px;
    }

    .paddingBottomDiv {
        padding-bottom: 10px;
    }
</style>
<div id="divPendingPayment" class="divBackgroundPayment form-horizontal form-list commonBorder">
    <div id="applyPaymentContent">
        <table class="table">
            <!-- <tr>
                <td colspan="2" style="border :none !important;"></td>
                <td style="border :none !important; float: right;">
                    <label class="checkbox-inline">
                        <input class="checkDebit" type="checkbox" style="display: block" /> DR
                    </label>
                </td>
                <td align="right" style="border :none !important;">
                    <span i18n="order.chargePayment.applied"></span>
                </td>
            </tr> -->
            <tr>
                <td style="width:15%;border:none !important;">
                    <span i18n="order.chargePayment.totalBillFee"></span> :
                    <span id="spApplyTotalFee"></span>
                </td>
                <td style="width:20%;border:none !important;">
                    <span i18n="order.chargePayment.contractValue"></span> :
                    <span id="spApplyAllowed"></span>
                </td>
                <td style="width:20%;border:none !important;" align="right">
                    <span>Applied Payment</span>
                    <span id="spPaymentApplied"></span>
                </td>
                <td style="width:20%;border:none !important;" align="right">
                    <span i18n="order.chargePayment.adjustment">Applied Adjustment</span> :
                    <span id="spAdjustmentApplied"></span>
                </td>
            </tr>
            <!-- <tr>
                <td colspan="2" style="border :none !important;"></td>
                <td align="right" style="border :none !important;">
                    <span i18n="order.chargePayment.adjustment"></span>
                </td>
                <td align="right" style="border :none !important;">
                    <span id="spAdjustmentApplied"></span>
                </td>
            </tr> -->
        </table>
        <div id="divApplyPendingPayments" style="overflow: auto; height: 200px;">
            <input type="hidden" id="hdnOrderId" />
            <input type="hidden" id="hdnPaymentId" />
            <table id="tblApplyPendingPayments" class="table table-bordered scroll">
                <thead id="thApplyPendingPayments" style="background: #f5f5f5;">
                    <td>
                        <span i18n="order.studyInfo.cptCode"></span>
                    </td>
                    <td>
                        <span i18n="shared.fields.cptDescription"></span>
                    </td>
                    <td>
                        <span i18n="shared.fields.billFee"></span>
                    </td>
                    <td>
                        <span i18n="order.chargePayment.payment"></span>
                    </td>
                    <td width="10%">
                        <span i18n="billing.payments.thisPayment"></span>
                    </td>
                    <td width="10%">
                        <span i18n="shared.fields.allowed"></span>
                    </td>
                    <td>
                        <span i18n="shared.fields.adjustment"></span>
                    </td>
                    <td width="10%">
                        <span i18n="shared.fields.thisAdjustment"></span>
                    </td>
                    <td>
                        <span i18n="shared.fields.balance"></span>
                    </td>
                    <td>
                        <span i18n="billing.payments.cas"></span>
                    </td>
                </thead>
                <tbody id="tBodyApplyPendingPayment">
                </tbody>
            </table>
        </div>
        <div style="text-align: right;margin-top: 2%">
            <input type="button" id="btnPayfullAppliedPendingPayments" style="float:left;" class="btn btn-default btn-primary" value="Pay in full"
                i18n="billing.payments.payInFull">
            <input type="button" id="btnSaveAppliedPendingPayments" class="btn btn-default btn-primary" i18n="shared.buttons.saveAll"
                value="Save All">
            <input type="button" id="btnClearAppliedPendingPayments" class="btn btn-default" value="Clear" i18n="shared.buttons.clear">
            <span id="spPaymentID"></span>
        </div>
        <div style="margin-top: 20px; width: 100%;">
            <div style="width: 30%;float: left;">
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label ">
                            <span i18n="order.chargePayment.totalBillFee"></span> :</label>
                    </div>
                    <div class="col-form-content">
                        <label id="lblBillingFee"></label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label ">
                            <span i18n="order.chargePayment.contractValue"></span> :</label>
                    </div>
                    <div class="col-form-content">
                        <label id="lblContractValue"></label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label">
                            <span i18n="shared.fields.otherPaid"></span> :</label>
                    </div>
                    <div class="col-form-content">
                        <label id="lblOthers"></label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label">
                            <span i18n="shared.fields.adjustment"></span> :</label>
                    </div>
                    <div class="col-form-content">
                        <label id="lblAdjustment"></label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label">
                            <span i18n="shared.fields.patientPaid"></span> :</label>
                    </div>
                    <div class="col-form-content">
                        <label id="lblPatient"></label>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label">
                            <span i18n="shared.fields.balance"></span> :</label>
                    </div>
                    <div class="col-form-content">
                        <label id="lblBalance"></label>
                    </div>
                </div>
            </div>
            <div style="width: 40%;float: left;">
                <div class="form-group form-inline" style="margin-bottom:10px;">
                    <div class="col-form-label">
                        <label class="control-label field-required" i18n="shared.fields.responsible"></label>
                    </div>
                    <div class="col-form-content">
                        <select id="ddlResponsible" class="form-control" style="width:250px">
                            <option data_code="0" value="0" i18n="shared.buttons.select">Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-inline" style="margin-bottom:10px;">
                    <div class="col-form-label">
                        <label class="control-label " i18n="shared.fields.adjustmentCode"></label>
                    </div>
                    <div class="col-form-content">
                        <select id="ddlAdjustmentCode_fast" class="form-control form-control-lg adjustmentCode" style="width:250px">
                            <option data_id='0' data_code="0" value="0" i18n="shared.buttons.select"></option>
                            <% _.each(adjustmentCodes, function(adjustmentCode) { %>
                                <option data_id='<%= adjustmentCode.id %>' data_code='<%= adjustmentCode.code %>' data_codetype='<%= adjustmentCode.type %>'
                                    value='<%= adjustmentCode.id %>-<%= adjustmentCode.amount %>-<%= adjustmentCode.type %>'>
                                    <%= adjustmentCode.description %>(
                                        <%= adjustmentCode.code %>)
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </div>
                <div class="form-group form-inline" style="margin-bottom:10px;">
                    <div class="col-form-label">
                        <label class="control-label" for="txtResponsibleNotes" i18n="order.chargePayment.billingNotes"></label>
                    </div>
                    <div class="col-form-content">
                        <textarea class="form-control" id="txtResponsibleNotes" rows="2"></textarea>
                    </div>
                </div>
                <!-- <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label"></label>
                    </div>
                    <div class="col-form-content">
                        <input id="btnSaveResponsible" type="button" class="btn btn-default btn-primary" i18n="order.chargePayment.saveResponsible">
                    </div>
                </div> -->
            </div>
            <div style="width: 30%;">
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label " i18n="order.newOrder.deduction"> :</label>
                    </div>
                    <div class="col-form-content">
                        <input type="text" id="txtDeduction" value="0.00" class="form-control input-xs floatbox">
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label" i18n="order.newOrder.coInsurance"> :</label>
                    </div>
                    <div class="col-form-content">
                        <input type="text" id="txtCoInsurance" value="0.00" class="form-control input-xs floatbox">
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="col-form-label">
                        <label class="control-label" i18n="order.newOrder.coPay"> :</label>
                    </div>
                    <div class="col-form-content">
                        <input type="text" id="txtCoPay" value="0.00" class="form-control input-xs floatbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divPaymentCAS" class="divBackgroundPayment form-horizontal form-list commonBorder" style="display: none; position: absolute; border-radius:10px;z-index:10000; width: 97.5%; padding:20px;background-color: white;  
          text-align: center;top: 9%;border: 1px solid black;">
        <div style="width: 100%;">
            <div style="width: 30%;float: left;">
                <span class="cobAmount" i18n="billing.COB.groupCode"></span>
            </div>
            <div style="display: inline;">
                <span class="cobAmount" i18n="billing.COB.reason"></span>
            </div>
            <div style="width: 40%;float: right;">
                <span class="cobAmount" i18n="billing.COB.amount"></span>
            </div>
        </div>
        <div style="width: 100%;" class="paddingBottomDiv">
            <div style="width: 30%;float: left;">
                <select id="selectGroupCode1" class="col1" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="display: inline;">
                <select id="selectReason1" class="col2" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="width: 40%;float: right;">
                <input type="text" id="txtAmount1" class="col3">
            </div>
        </div>
        <div style="width: 100%;" class="paddingBottomDiv">
            <div style="width: 30%;float: left;">
                <select id="selectGroupCode2" class="col1" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="display: inline;">
                <select id="selectReason2" class="col2" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="width: 40%;float: right;">
                <input type="text" id="txtAmount2" class="col3">
            </div>
        </div>
        <div style="width: 100%;" class="paddingBottomDiv">
            <div style="width: 30%;float: left;">
                <select id="selectGroupCode3" class="col1" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="display: inline;">
                <select id="selectReason3" class="col2" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="width: 40%;float: right;">
                <input type="text" id="txtAmount3" class="col3">
            </div>
        </div>
        <div style="width: 100%;" class="paddingBottomDiv">
            <div style="width: 30%;float: left;">
                <select id="selectGroupCode4" class="col1" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="display: inline;">
                <select id="selectReason4" class="col2" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="width: 40%;float: right;">
                <input type="text" id="txtAmount4" class="col3">
            </div>
        </div>
        <div style="width: 100%;" class="paddingBottomDiv">
            <div style="width: 30%;float: left;">
                <select id="selectGroupCode5" class="col1" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="display: inline;">
                <select id="selectReason5" class="col2" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="width: 40%;float: right;">
                <input type="text" id="txtAmount5" class="col3">
            </div>
        </div>
        <div style="width: 100%;" class="paddingBottomDiv">
            <div style="width: 30%;float: left;">
                <select id="selectGroupCode6" class="col1" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="display: inline;">
                <select id="selectReason6" class="col2" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="width: 40%;float: right;">
                <input type="text" id="txtAmount6" class="col3">
            </div>
        </div>
        <div style="width: 100%;" class="paddingBottomDiv">
            <div style="width: 30%;float: left;">
                <select id="selectGroupCode7" class="col1" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_group_codes, function(cas_group_code) { %>
                        <option value="<%= cas_group_code.id %>" data-code="<%= cas_group_code.code %>">
                            <%= cas_group_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="display: inline;">
                <select id="selectReason7" class="col2" style="width: 300px;">
                    <option value="" i18n="shared.buttons.select"></option>
                    <% _.each(cas_reason_codes, function(reason_code) { %>
                        <option value="<%= reason_code.id %>" data-code="<%= reason_code.code %>">
                            <%= reason_code.description %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <div style="width: 40%;float: right;">
                <input type="text" id="txtAmount6" class="col3">
            </div>
        </div>
        <div class="form-group" style="margin-top:10px;text-align: center;">
            <button type="button" class="btn btn-danger" id="btnSaveCAS" i18n="shared.buttons.save"></button>
            <button type="button" class="btn btn-primary" id="btnCancelCAS" i18n="shared.buttons.cancel" style="margin-left: 20px;"></button>
        </div>
    </div>
</div>
</div>