a,
.link {
  color: #428bca;
}
.widget {
  color: #fff;
  background: #428bca;
}
.icdTagList {
  width: 600px;
  height: 260px;
  overflow: auto;
  padding: 5px;
  border-color: #bebebe;
  background-color: #FFF;
  border: solid 1px;
}
.icdTagList li {
  border: solid 1px;
  border-color: #bebebe;
  border-radius: 2px;
  padding: .2em 30px .2em .5em;
  position: relative;
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}
.icdTagList li > a {
  cursor: pointer;
  position: absolute;
  right: .4em;
  top: 50%;
  margin-top: -6px;
  line-height: 17px;
  text-decoration: none;
  color: #444;
  font-size: 12px;
}
label {
  display: inline-flex !important;
}
#divCharge {
  overflow-x: auto;
}
#tblCharge,
#tblCharge th,
#tblCharge td {
  white-space: nowrap !important;
}
#tblCharge td:nth-last-child(n+17) {
  vertical-align: middle;
}
#divCharge {
  overflow-x: auto;
}
input[id^="ddlModifier"] {
  width: 60px;
}
input[id^="ddlPointer"] {
  width: 45px;
}
input[id^="txtUnits"] {
  width: 70px;
}
input[id^="txtTotalBillFee"] {
  width: 125px;
}
input[id^="txtAllowedFee"] {
  width: 100px;
}
input[id^="txtTotalAllowedFee"] {
  width: 120px;
}
.select2-container {
  z-index: 10000;
}
legend {
  margin-bottom: 8px;
}
#headerContainer {
  height: auto;
}
#mainContainer {
  margin-top: 10px;
}
#divPatDetails {
  color: #fff;
  background: #2b547e;
  height: 43px;
  width: 100%;
  min-width: 1250px;
  min-width: 0;
}
ul,
li {
  list-style: none;
}
#PatDetails > li {
  float: left;
  padding: 6px 20px 3px;
  border-bottom: 4px solid transparent;
}
#newOrderNav .tn-menu > li {
  float: left;
  padding: 20px 20px 10px;
  border-bottom: 4px solid transparent;
}
#headerContainer .top-nav {
  background: #2b547e;
  padding: 0 25px 0 0px;
  min-height: 49px;
  width: 100%;
  min-width: 1250px;
  min-width: 0;
}
#tab_menu {
  position: relative;
  float: left;
}
.new-menu-right {
  float: right;
}
.new-menu-right > li {
  float: left;
  padding: 6px 11px 3px;
  border-bottom: 4px solid transparent;
}
.top-buffer {
  margin-top: 3px;
  margin-bottom: 3px;
}
.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #3c91f0;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-block;
  transition: all .2s ease 0s;
  outline: none !important;
}
.tn-menu > li.active a {
  color: #fff;
}
.tn-menu > li > a:hover {
  color: #fff;
}
.tn-menu > li > a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  display: block;
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
}
legend.viztekLegend {
  border-bottom: 1px solid #0090FF;
}
.col-xs-12 {
  width: 100%;
  float: left;
}
.col-xs-6 {
  width: 50%;
  float: left;
}
.col-xs-5 {
  width: 41%;
  float: left;
}
.col-xs-4 {
  width: 33%;
  float: left;
}
.loadingMsg {
  min-width: 275px;
  position: fixed;
  left: 40%;
  top: 3px;
  z-index: 10000;
  text-align: center;
}
.badge{
  min-width:275px;
}
.select-box, .select2-container {
  min-height:32px !important;
  width:100% !important;
}