body {
    font-size: 14px;
    cursor: default;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.settings-nav {
    padding-top: 45px;
    border-right: 4px solid #ececec;
    text-transform: uppercase;
}

#navbarNavAltMarkup ul {
    margin-right: 40px;
    font-size: 1.1em;
    text-transform: uppercase;
}

#navbarNavAltMarkup ul div {
    text-transform: uppercase;
}

#divTabsContainer {
    overflow: hidden;
}

#data_container .Grid {
    padding: 0px 10px;
}

#data_container .form-group {
    padding-left: 10px;
}

#data_container .form-group:first-child {
    //margin-top: 70px;
}

#divPageHeaderButtons {
    // text-align: right;
    // z-index: 170;
}

.bg-primary {
	background: @header_bg !important;
}
 
.ui-jqgrid .ui-jqgrid-bdiv {
    //overflow: hidden;
}

#root {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 3px !important;
}

.form-group .control-label {
  text-align: left !important;
  justify-content: left !important;
  padding-bottom: 3px;
  padding-top: 0px !important;
}

input[type="text"], select {
    .form-control();
}

.modal-footer {
	background: @header_bg;
}

.validateTags{
  height: 50px;
  width: 100px;
  float: left;
  text-align: center;
  line-height: 47px;
}

.validateInfoSpace{
  position: relative;
  float: left;
  width: 100%;
}

.activeValTag{
  background: #007bff;
}

#divPageHeaderButtons {
    padding: 10px;
}

.customRowSelect:hover,
.ui-jqgrid-btable tbody tr:hover {
  background: @blue-900 !important;
  color: @blue-50 !important;
}

#auditFilterdiv{
  height: 60px;
}

.dpAuditFilter{
  float: left;
  width: 300px;
}

.moreLightbgColor {
  background-color: #F3F3F3 !important;
  text-align: right;
}

.dropdown-item {
    font-size: 0.9em;
}

.summmaryBorder {
    border-bottom: 1px solid @SummaryBorder !important;
}

.summmaryBorder label {
    margin: 4px;
}

.daterangepicker .drp-buttons{
    text-align: left;
    display: block;
}

.daterangepicker .drp-selected{
    display: none;
}

.show-calendar .drp-selected{
    display: inline;
}