body {
    font-size: 14px;
}

.settings-nav {
    margin-top: 45px;
}

.bg-primary {
	background: @header_bg !important;
}
 
.ui-jqgrid .ui-jqgrid-bdiv {
    //overflow: hidden;
}

#root {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 3px !important;
}

.form-group .control-label {
  text-align: left !important;
  justify-content: left !important;
  padding-bottom: 7px;
  padding-top: 0px !important;
}

input[type="text"], select {
    .form-control();
}

.modal-footer {
	background: @header_bg;
}

.tn-menu>li.active{
    border-color: #0090ff;
}
.nav-tabs>li.active{
    border-color: #0090ff;
}

.validateTags{
  height: 50px;
  width: 100px;
  float: left;
  text-align: center;
  line-height: 47px;
}

.validateInfoSpace{
  position: relative;
  float: left;
  width: 100%;
}

.activeValTag{
  background: #007bff;
}

#divPageHeaderButtons {
    padding: 10px;
}