body {
    font-size: 14px;
    cursor: default;
}

.settings-nav {
    margin-top: 45px;
}

#navbarNavAltMarkup ul {
    margin-right: 40px;
}

#data_container .Grid {
    padding: 0px 10px;
}

#data_container .form-group:first-child {
    //margin-top: 70px;
}

#divPageHeaderButtons {
    // text-align: right;
    // z-index: 170;
}

.bg-primary {
	background: @header_bg !important;
}
 
.ui-jqgrid .ui-jqgrid-bdiv {
    //overflow: hidden;
}

#root {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 3px !important;
}

.form-group .control-label {
  text-align: left !important;
  justify-content: left !important;
  padding-bottom: 7px;
  padding-top: 0px !important;
}

input[type="text"], select {
    .form-control();
}

.modal-footer {
	background: @header_bg;
}

.tn-menu>li.active{
    border-color: #0090ff;
}
.nav-tabs>li.active{
    border-color: #0090ff;
}

.validateTags{
  height: 50px;
  width: 100px;
  float: left;
  text-align: center;
  line-height: 47px;
}

.validateInfoSpace{
  position: relative;
  float: left;
  width: 100%;
}

.activeValTag{
  background: #007bff;
}

#divPageHeaderButtons {
    padding: 10px;
}

.customRowSelect:hover,
.ui-jqgrid-btable tbody tr:hover {
  background: @blue-900 !important;
  color: @blue-50 !important;
}
