<div id="divAdjustmentCodesGrid">
    <div id="divAdjustmentGridBtnGrps" style="float:right;">
        <input type="button" value="Add" id="btnAddAdjustmentCode" i18n="shared.buttons.addNew" class="btn btn-primary">
        <input type="button" value="Refresh" id="btnRefresh" i18n="shared.buttons.refresh" class="btn btn-primary">
    </div>
    <br>
    <div>
        <table id="tblAdjustmentCodesGrid"></table>
        <div id="gridPager_AdjustmentCodes"></div>
    </div>
</div>
<div id="divAdjustmentCodesForm">
    
</div>