<div>
    <div id="divAdjustmentFormBtnGrps" style="float:right;">
        <input type="button" value="Add" id="btnSaveAdjustmentCode" i18n="shared.buttons.save" class="btn btn-primary">
        <input type="button" value="Refresh" id="btnBackToAdjustmentCode" i18n="shared.buttons.back" class="btn btn-primary">
    </div>
    <br>
    <form class="form-horizontal form-list">
        <div class="form-group form-inline">
            <div class="col-form-label">
                <label class="control-label field-required" for="txtCode" i18n="setup.common.code"></label>
            </div>
            <div class="controls">
                <input type="text" maxlength="512" id="txtCode" name="code" class="form-control">
                <input type="checkbox" id="chkActive"/>
                <span for="chkActive" class="field-chk" i18n="shared.fields.inactive" style="text-align:center;"></span>
            </div>
        </div>
        <div class="form-group form-inline">
            <div class="col-form-label">
                <label class="control-label field-required" for="txtCode" i18n="setup.common.description"></label>
            </div>
            <div class="controls">
                <input type="text" maxlength="512" id="txtDescription" name="description" class="form-control">
            </div>
        </div>
        <div class="form-group form-inline">
            <div class="col-form-label">
                <label class="control-label field-required" for="txtCode" i18n="setup.adjustmentcodes.entryType"></label>
            </div>
            <div class="controls">
                <select id="ddlEntryType" class="form-control" name="entryType" style="width: 250px">
                    <option value i18n="shared.button.select"></option>
                    <option value="credit" i18n="setup.adjustmentcodes.credit"></option>
                    <option value="debit" i18n="setup.adjustmentcodes.debit"></option>
                </select>
            </div>
        </div>
    </form>
</div>