<style>
    #showDetails{
        text-decoration: underline;
        cursor: pointer;
        color: #428bca;
    }
</style>
<table class="table" style="table-layout: fixed; margin-bottom: 0px !important;">
    <tbody>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.common.user'></label>
        </td>
        <td><label class="logFields1" id="userName"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.log.clientIp'></label>
        </td>
        <td><label class="logFields1" id="clientIp"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.common.module'></label>
        </td>
        <td><label class="logFields1" id="module"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.common.screen'></label>
        </td>
        <td><label class="logFields1" id="screen"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.log.logDt'></label></td>
        <td><label class="logFields1" id="loggedDate"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields"
                                                                 i18n='setup.common.description'></label></td>
        <td><label class="logFields1" id="description"></label></td>
    </tr>
    <tr id="showDetailsRow">
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields"
                                                                 i18n='setup.common.changes'></label></td>
        <td><a class="logFields1" id="showDetails">Show Details</a></td>
    </tr>
    <tr id="oldInfoRow">
        <td class="moreLightbgColor " style="width: 25%;"></td>
        <td>
            <!-- <div id="oldInfo">
                <div class="validateTags activeValTag">Change</div><br>
                <br>
            </div> -->

                <div style="height: 300px;overflow-y: scroll;">
                    <div><b i18n='shared.fields.queriedForPrintingResults'></b></div>
                    <table class="table table-bordered">
                        <tbody id="chngTblBdy">
                        <tr>
                            <th><label i18n='setup.common.columns'></label></th>
                            <th><label i18n='setup.common.oldValues'></label></th>
                            <th><label i18n='setup.common.newValues'></label></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>