<div id="divAuditLogForm">
    <div id="auditFilterdiv">
        <div class="form-group form-inline dpAuditFilter">
            <div class="col-form-label" style="width: 35px;">
                <label for="auditFromDate" class="control-label" i18n="setup.common.from">From</label>
            </div>
            <div id="divFromDate" class="input-group" style="min-width: 224px;">
                <input type="text" id="auditFromDate" style="min-width: 195px;" class="form-control form-control-date" name="fromDate">
                <span class="input-group-addon add-on" style="padding-right: 0px;border: 1px solid #ced7db;width: 30px;text-align: center;line-height: 30px;"> <i class="icon-ic-schedule"></i></span>
            </div>
        </div>
        <div class="form-group form-inline dpAuditFilter">
            <div class="col-form-label" style="width: 35px;">
                <label for="auditFromDate" class="control-label" i18n="setup.common.to">To</label>
            </div>
            <div id="divToDate" class="input-group" style="min-width: 224px;">
                <input type="text" id="auditToDate" style="min-width: 195px;" class="form-control form-control-date" name="fromDate">
                <span class="input-group-addon add-on" style="padding-right: 0px;border: 1px solid #ced7db;width: 30px;text-align: center;line-height: 30px;"> <i class="icon-ic-schedule"></i></span>
            </div>
        </div>
    </div>
</div>
<div id="divAuditLogGrid">
    <div>
        <table id="tblAuditLogGrid"></table>
        <div id="gridPager_AuditLog"></div>
    </div>
</div>
