<div class="form-group row">
    <div class="col-lg-12">
        <form id="formAutoBilling" class="form-horizontals">
            <div class="row" id="autoBillingInfo">
                <div class="col-sm-5">
                    <div class="form-group row">

                        <div class="col-sm-3">
                            <label for="autoBillingDescription" class="col-form-label field-required" i18n="setup.common.description"></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="autoBillingDescription" name="autoBillingDescription">
                        </div>

                    </div>

                </div>
                <div class="col-sm-5">
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label for="autoBillingDescription" class="col-form-label field-required" i18n="setup.autoBilling.claimStatus"></label>
                        </div>
                        <div class="col-sm-7">
                            <select id="listClaimStatus" name="listAutoBillingClaimStatus" size="1">
                                <% _.each(app.claim_status, function(claimStatus) { %>
                                    <option value="<%= claimStatus.code %>"><%= claimStatus.description %></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkIsActive">
                        <label class="form-check-label" for="chkIsActive" i18n="shared.fields.inactive"></label>
                    </div>

                </div>

            </div>

            <!-- NEW LAYOUT -->
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-6">

                    <div class="form-group row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.facilities"></label>
                            </h5>
                        </legend>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingFacilityIs" name="chkAutoBillingFacilityIs" value="is">
                                <label class="form-check-label" for="chkAutoBillingFacilityIs" i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingFacilityIsNot" name="chkAutoBillingFacilityIsNot" value="isNOT">
                                <label class="form-check-label" for="chkAutoBillingFacilityIsNot" i18n="setup.common.isNot"></label>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <select id="listAutoBillingFacilities" style="width: 250px; height: 80px;" name="listAutoBillingFacilities" size="6" multiple>
                            <% _.each(facilities, function(value, key) { %>
                                <option value="<%= key %>"><%= value %></option>
                            <%})%>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.modalities"></label>
                            </h5>
                        </legend>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingModalityIs" name="chkAutoBillingModalityIs" value="is">
                                <label class="form-check-label" for="chkAutoBillingModalityIs" i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingModalityIsNot" name="chkAutoBillingModalityIsNot" value="isNOT">
                                <label class="form-check-label" for="chkAutoBillingModalityIsNot" i18n="setup.common.isNot"></label>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <select id="listAutoBillingModalities" style="width: 250px; height: 80px;" name="listAutoBillingModalities" size="6" multiple>
                            <% _.each(modalities, function(value, key) { %>
                                <option value="<%= key %>"><%= value %></option>
                            <%})%>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BEGIN CPT Codes SECTION -->
            <div class="row" style="margin-top:10px;">

                <div class="col-lg-12">
                    <div class="row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.cptCode"></label>
                            </h5>
                        </legend>
                    </div>

                    <!-- BEGIN CPT Codes FIELDS -->
                    <div class="form-group row">
                        <div class="col-lg-3">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProvider" value="is">
                                <label i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProvider" value="isNOT">
                                <label i18n="setup.common.isNot"></label>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group row">
                                <select id="ddlAutoBillingCptCode" class="col-sm-10 form-control select-box"></select>
                                <!-- <input maxlength="8" type='text' id='txtAutoBillingCptCode' placeholder="Code" class="form-control form-control-small" name="Code"> -->
                                <!-- <input type="text" id="ddlAutoBillingCptCode" class="form-control"> -->
                                <button type="button" id="btnAddAutoBillingCptCode" class="btn btn-primary col-sm-2" name="button">
                                    <i class="icon-ic-plus"></i>
                                </button>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <select id="listAutoBillingCptCodes" muliple="multiple" size="5" style="height: 80px;"></select>
                        </div>
                        <div class="col-lg-1">
                            <button id="btnRemoveAutoBillingCptCode" class="btn btn-primary"><i class="icon-ic-delete"></i></button>
                        </div>


                    </div>
                    <!-- END CPT Codes FIELDS -->

                </div>
            </div>
            <!-- END CPT Codes SECTION -->



            <!-- BEGIN Insurance Provider Payer Types SECTION -->
            <div class="row" style="margin-top:10px;">

                <div class="col-lg-12">
                    <div class="row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.insuranceProviderPayerTypes"></label>
                            </h5>
                        </legend>
                    </div>

                    <!-- BEGIN Insurance Provider Payer Types FIELDS -->
                    <div class="form-group row">
                        <div class="col-lg-3">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProviderPayerType" value="is">
                                <label i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProviderPayerType" value="isNOT">
                                <label i18n="setup.common.isNot"></label>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="row">
                                <input type="text" name="txtAutoBillingInsuranceProviderPayerType" value="Search" class="col-sm-10">
                                <button type="button" id="addRemoveAutoBillingInsuranceProviderPayerType" class="btn btn-primary col-sm-2" name="button">
                                    <i class="icon-ic-plus"></i>
                                </button>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <select id="listAutoBillingInsuranceProviderPayerTypes" muliple="multiple" size="5" style="height: 80px;"></select>
                        </div>
                        <div class="col-lg-1">
                            <button id="btnRemoveAutoBillingInsuranceProviderPayerType" class="btn btn-primary"><i class="icon-ic-delete"></i></button>
                        </div>


                    </div>
                    <!-- END Insurance Provider Payer Types FIELDS -->

                </div>
            </div>
            <!-- END Insurance Provider Payer Types SECTION -->


            <!-- BEGIN Insurance Providers SECTION -->
            <div class="row" style="margin-top:10px;">

                <div class="col-lg-12">
                    <div class="row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.insuranceProviders"></label>
                            </h5>
                        </legend>
                    </div>

                    <!-- BEGIN Insurance Providers FIELDS -->
                    <div class="form-group row">
                        <div class="col-lg-3">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProvider" value="is">
                                <label i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProvider" value="isNOT">
                                <label i18n="setup.common.isNot"></label>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="row">
                                <input type="text" name="txtAutoBillingInsuranceProvider" value="Search" class="col-sm-10">
                                <button type="button" id="addRemoveAutoBillingInsuranceProvider" class="btn btn-primary col-sm-2" name="button">
                                    <i class="icon-ic-plus"></i>
                                </button>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <select id="listAutoBillingInsuranceProviders" muliple="multiple" size="5" style="height: 80px;"></select>
                        </div>
                        <div class="col-lg-1">
                            <button id="btnRemoveAutoBillingInsuranceProvider" class="btn btn-primary"><i class="icon-ic-delete"></i></button>
                        </div>


                    </div>
                    <!-- END Insurance Providers FIELDS -->

                </div>
            </div>
            <!-- END Insurance Providers SECTION -->


        </form>
    </div>

</div>
