<div class="form-group row">
    <div class="col-lg-12">
        <form id="formAutoBilling" class="form-horizontals">
            <div class="row" id="autoBillingInfo">
                <div class="col-sm-5">
                    <div class="form-group row">

                        <div class="col-sm-3">
                            <label for="autoBillingDescription" class="col-form-label field-required" i18n="setup.common.description"></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="autoBillingDescription" name="autoBillingDescription">
                        </div>

                    </div>

                </div>
                <div class="col-sm-5">
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label for="autoBillingDescription" class="col-form-label field-required" i18n="setup.autoBilling.claimStatus"></label>
                        </div>
                        <div class="col-sm-7">
                            <select id="listClaimStatus" name="listAutoBillingClaimStatus" size="1">
                                <% _.each(app.claim_status, function(claimStatus) { %>
                                    <option value="<%= claimStatus.code %>"><%= claimStatus.description %></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkIsActive">
                        <label class="form-check-label" for="chkIsActive" i18n="shared.fields.inactive"></label>
                    </div>

                </div>

            </div>

            <div class="row" style="margin-top:10px;">

                <!-- begin hierarchical section -->
                <div class="col-lg-6">

                    <!-- begin facilities fields -->
                    <div class="form-group row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.facilities"></label>
                            </h5>
                        </legend>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingFacilityIs" name="chkAutoBillingFacilityIs" value="is">
                                <label class="form-check-label" for="chkAutoBillingFacilityIs" i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingFacilityIsNot" name="chkAutoBillingFacilityIsNot" value="isNOT">
                                <label class="form-check-label" for="chkAutoBillingFacilityIsNot" i18n="setup.common.isNot"></label>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <select id="listAutoBillingFacilities" style="width: 250px; height: 80px;" name="listAutoBillingFacilities" size="6" multiple>
                            <% _.each(facilities, function(value, key) { %>
                                <option value="<%= key %>"><%= value %></option>
                            <%})%>
                            </select>
                        </div>
                    </div>
                    <!-- end facilities fields -->

                    <!-- begin modalities fields  -->
                    <div class="form-group row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.modalities"></label>
                            </h5>
                        </legend>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingModalityIs" name="chkAutoBillingModalityIs" value="is">
                                <label class="form-check-label" for="chkAutoBillingModalityIs" i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingModalityIsNot" name="chkAutoBillingModalityIsNot" value="isNOT">
                                <label class="form-check-label" for="chkAutoBillingModalityIsNot" i18n="setup.common.isNot"></label>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <select id="listAutoBillingModalities" style="width: 250px; height: 80px;" name="listAutoBillingModalities" size="6" multiple>
                            <% _.each(modalities, function(value, key) { %>
                                <option value="<%= key %>"><%= value %></option>
                            <%})%>
                            </select>
                        </div>
                    </div>
                    <!-- end modalities fields  -->

                    <!-- begin CPT Codes fields -->
                    <div class="row">
                        <legend>
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.cptCode"></label>
                            </h5>
                        </legend>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkCptCodes" value="is">
                                <label class="form-check-label" for="chkCptCodes" i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkCptCodes" value="isNOT">
                                <label class="form-check-label" for="chkCptCodes" i18n="setup.common.isNot"></label>
                            </div>
                        </div>


                        <div class="col-sm-10">
                            <div class="form-group row">
                                <input type="text" name="txtCptCode" value="Search" class="col-sm-10">
                                <button type="button" class="btn btn-primary" name="button" class="col-sm-2">
                                    <i class="icon-ic-plus"></i>
                                </button>
                            </div>
                            <div class="form-group row">
                                <ul id="ulCptCpdes" class="tagList col-sm-11" style="height:80px;min-width:200px;border:1px dashed #00FF00;">

                                </ul>
                                <input type="hidden" id="hdnCptCodes" value="">
                            </div>
                        </div>
                    </div>
                    <!-- end CPT Codes -->

                </div>

                <!-- hierarchical section -->

                <!-- begin Insurance Providers section -->
                <div class="col-lg-6">
                    <div class="row">
                        <legend style="width:98%;">
                            <h5 style="font-weight:bold;border-bottom:1px solid #3c91f0;">
                                <label i18n="setup.autoBilling.providers"></label>
                            </h5>
                        </legend>
                    </div>

                    <!-- begin Insurance Provider Payer Types -->
                    <div class="form-group row">
                        <div class="col-sm-2">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProviderPayerTypeIs" value="is">
                                <label class="form-check-label" for="chkAutoBillingInsuranceProviderPayerTypeIs" i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="chkAutoBillingInsuranceProviderPayerTypeIsNot" value="isNOT">
                                <label class="form-check-label" for="chkAutoBillingInsuranceProviderPayerTypeIsNot" i18n="setup.common.isNot"></label>
                            </div>
                        </div>

                        <div class="col-sm-10">
                            <label for="listAutoBillingInsuranceProviderPayerTypes" i18n="setup.autoBilling.insuranceProviderPayerTypes" class="col-form-label"></label>
                            <select id="listAutoBillingInsuranceProviderPayerTypes" style="width: 250px; height: 80px;" name="listAutoBillingInsuranceProviderPayerTypes" size="6" multiple>
                                <% _.each(insuranceProviderPayerTypes, function(value, key) { %>
                                    <option value="<%= key %>"><%= value %></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                    <!-- end Insurance Provider Payer Types -->

                    <!-- begin Providers -->
                    <div class="form-group row">

                        <div class="col-sm-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingInsuranceProviderIs" name="chkAutoBillingInsuranceProviders" value="is">
                                <label class="form-check-label" for="chkAutoBillingInsuranceProviderIs" i18n="setup.common.is"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="chkAutoBillingInsuranceProviderIsNot" name="chkAutoBillingInsuranceProviders" value="isNOT">
                                <label class="form-check-label" for="chkAutoBillingInsuranceProviderIsNot" i18n="setup.common.isNot"></label>
                            </div>
                        </div>

                        <div class="col-sm-10">
                            <label for="listAutoBillingInsuranceProviders" i18n="setup.autoBilling.insuranceProviders" class="col-form-label"></label>
                            <select id="listAutoBillingInsuranceProviders" style="width: 250px; height: 80px;" name="listAutoBillingInsuranceProviders" size="6" multiple></select>
                        </div>

                    </div>
                    <!-- end Insurance Providers -->

                </div>
                <!-- end Insurance Providers section -->

            </div>
            <!-- end filter criteria section -->




        </form>
    </div>

</div>
