<div id="divBillingProvidersGrid">
    <div id="divBillingProvidersBtnGrps" style="float:right;">
       <input type="button" value="Add" id="btnAddBillingProviders" i18n="shared.buttons.addNew" class="btn btn-primary">
       <input type="button" value="Refresh" id="btnRefresh" i18n="shared.buttons.refresh" class="btn btn-primary">
   </div>
   <br> 
   <div>
       <table id="tblBillingProvidersGrid"></table>
       <div id="gridPager_BillingProviders"></div>
   </div>
</div>
<div id="divBillingProvidersForm">
   
</div>