<div class="container-fluid">
    <div class="row">
        <div class="col-2 settings-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" id="aAdjustmentCodes" href="#setup/adjustment_codes/list">Adjustment Codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aBillingCodes" href="#setup/billing_codes/list">Billing Codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aBillingClasses" href="#setup/billing_classes/list">Billing Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aClaimStatus" href="#setup/claim_status/list">Claim Status</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="aBillingProviders" href="#setup/billing_providers/list">Billing Providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aProviderIdCodeQualifiers" href="#setup/provider_id_code_qualifiers/list">Provider ID Code Qualifiers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="aPaymentReasons" href="#setup/payment_reasons/list">Payment Reasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aCasGroupCodes" href="#setup/cas_group_codes/list">CAS Group Codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aCasReasonCodes" href="#setup/cas_reason_codes/list">CAS Reason Codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aStatusColorCodes" href="#setup/status_color_codes/list">Status Color Codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aEDIClearingHouses" href="#setup/edi_clearinghouses/list">EDI ClearingHouses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aInsuranceX12Mapping" href="#setup/insurance_x12_mapping/list">Insurance EDI Mapping</a>
                </li>
                <!-- Provider Level Codes screen available in RIS also
                <li class="nav-item">
                    <a class="nav-link" id="aProviderLevelCodes" href="#setup/provider_level_codes/list">Provider Level Codes</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" id="aBillingValidations" href="#setup/validations/all">Billing Validations</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="alert alert-block" id="divValidationBlock" style="display: none;">
                <h4>Validations</h4>
                <div class="error" id="validationSummary">
                    <ul></ul>
                </div>
            </div>
            <div id="divPageHeaderButtons" class="float-right">
            </div>
            <br />
            <br />
            <div id="data_container">
            </div>
        </div>
    </div>
</div>