<div class="form-group row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <form id="formInsuranceX12Mapping" class="form-horizontal">
                <div class="form-group row">
                    <label for="ddlInsuranceName" class="col-sm-3 col-form-label field-required" i18n="setup.insuranceX12Mapping.insuranceName"></label>
                    <div class="col-sm-5">
                        <select id="ddlInsuranceName" class="form-control" style="height:32px;" name="insuranceName">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ddlClaimClearingHouse" class="col-sm-3 col-form-label field-required" i18n="setup.insuranceX12Mapping.claimClearingHouse"></label>
                    <div class="col-sm-5">
                        <select id="ddlClaimClearingHouse" class="form-control" style="height:32px;" name="claimClearingHouse">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ddlClaimTemplateRad" class="col-sm-3 col-form-label field-required" i18n="setup.insuranceX12Mapping.claimTemplateRad"></label>
                    <div class="col-sm-5">
                        <select id="ddlClaimTemplateRad" class="form-control" style="height:32px;" name="claimTemplateRad">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ddlClaimTemplateProv" class="col-sm-3 col-form-label field-required" i18n="setup.insuranceX12Mapping.claimTemplateProv"></label>
                    <div class="col-sm-5">
                        <select id="ddlClaimTemplateProv" class="form-control" style="height:32px;" name="claimTemplateProv">
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>