<div class="form-group row">
    <div class="col-lg-12">
        <form id="formInsuranceX12Mapping" class="form-horizontal">
            <div class="form-group row">
                <label for="ddlInsuranceName" class="col-sm-2 col-form-label field-required" i18n="setup.insuranceX12Mapping.insuranceName"></label>
                <label id="lblInsuranceName" class="col-sm-5 col-form-label font-weight-bold"></label>
            </div>
            <div class="form-group row">
                <label for="ddlClaimClearingHouse" class="col-sm-2 col-form-label field-required" i18n="setup.insuranceX12Mapping.claimClearingHouse"></label>
                <div class="col-sm-5">
                    <select id="ddlClaimClearingHouse" class="form-control"  style="height:32px;" name="claimClearingHouse">
                            <option value="" i18n="shared.buttons.select"></option>
                            <% _.each(ediClearingHouseList, function(list) { %>
                                <option value='<%= list.id %>'>
                                    <%=list.name%>
                                </option>
                                <% }); %>
                        </select>
                </div>
            </div>
        </form>
    </div>
</div>