<div class="form-group row">
    <div class="col-lg-10">
        <form id="formPaperClaimTemplates" class="form-horizontal">
            <div id="divTemplateFields">
                <div class="form-group row">
                    <label for="txtTemplateName" class="col-sm-2 col-form-label field-required" i18n="setup.common.name"></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtTemplateName" name="templateName">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkActive">
                        <label class="form-check-label" for="chkActive" i18n="shared.fields.inactive"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtLeftMargin" class="col-sm-2 col-form-label field-required" i18n="setup.paperClaimTemplates.leftMargin"></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="numLeftMargin" name="leftMargin"  step="0.100" min="-3.000" max="6.500" value="0.0">
                    </div>
                    <label for="txtTopMargin" class="col-sm-2 col-form-label field-required" i18n="setup.paperClaimTemplates.topMargin"></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="numTopMargin" name="topMargin" step="0.100" min="-3.000" max="15.000" value="0.0">
                    </div>
                    <label for="txtTempplateType" class="col-sm-2 col-form-label field-required" i18n="setup.paperClaimTemplates.templateType"></label>
                    <div class="col-sm-2">
                            <select id="ddlTemplateType" class="form-control" name="templateType" style="width: 250px">
                                    <option value i18n="shared.button.select"></option>
                                    <option value="direct_invoice" i18n="setup.paperClaimTemplates.directingInvoice"></option>
                                    <option value="patient_invoice" i18n="setup.paperClaimTemplates.patientInvoice"></option>
                                    <option value="paper_claim_full" i18n="setup.paperClaimTemplates.paperClaimFull" selected="selected"></option>
                                    <option value="paper_claim_original" i18n="setup.paperClaimTemplates.paperClaimOrg"></option>
                            </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtRightMargin" class="col-sm-2 col-form-label field-required" i18n="setup.paperClaimTemplates.rightMargin"></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="numRightMargin" name="rightMargin" step="0.100" min="0.000" max="12.000" value="0.0">
                    </div>
                    <label for="txtBottomMargin" class="col-sm-2 col-form-label field-required" i18n="setup.paperClaimTemplates.bottomMargin"></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="numBottomMargin" name="bottomMargin" step="0.100" min="0.000" max="6.500" value="0.0">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtPageHeight" class="col-sm-2 col-form-label field-required" i18n="setup.paperClaimTemplates.pageHeight"></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="numPageHeight" name="pageHeight" value="0">
                    </div>
                    <label for="txtPageWidth" class="col-sm-2 col-form-label field-required" i18n="setup.paperClaimTemplates.pageWidth"></label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="numpageWidth" name="pageWidth" value="0">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label i18n="setup.paperClaimTemplates.definition" style="font-weight:bold;"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="divPaperClaimEditor" class="col-lg-12 form-group row">
    <div id="paperClaimEditor" class="col-lg-12" style="min-height:200px;">
    </div>
</div>