<table class="table" style="table-layout: fixed; margin-bottom: 0px !important;">
    <tbody>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.common.user'></label>
        </td>
        <td><label class="logFields1" id="userName"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.log.logInDt'></label>
        </td>
        <td><label class="logFields1" id="logInDt"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.log.logOutDt'></label>
        </td>
        <td><label class="logFields1" id="logOutDt"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.log.lastAccessedDt'></label>
        </td>
        <td><label class="logFields1" id="lastAccessedDt"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.common.browser'></label>
        </td>
        <td><label class="logFields1" id="browser"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.common.version'></label>
        </td>
        <td><label class="logFields1" id="browserVersion"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor " style="width: 25%;"><label class="logFields" i18n='setup.common.operatingSystem'></label>
        </td>
        <td><label class="logFields1" id="operatingSystem"></label></td>
    </tr>

    </tbody>
</table>