<table class="table" style="table-layout: fixed; margin-bottom: 0px !important;">
    <tbody>
    <tr>
        <td class="moreLightbgColor w-25"><label class="logFields" i18n='setup.common.user'></label>
        </td>
        <td><label class="logFields1" id="userName"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor w-25"><label class="logFields" i18n='setup.log.loggedDate_Grid'></label>
        </td>
        <td><label class="logFields1" id="logInDt"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor w-25"><label class="logFields" i18n='setup.userLog.screenName'></label>
        </td>
        <td><label class="logFields1" id="screenName"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor w-25"><label class="logFields" i18n='setup.common.browser'></label>
        </td>
        <td><label class="logFields1" id="browser"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor w-25"><label class="logFields" i18n='setup.common.version'></label>
        </td>
        <td><label class="logFields1" id="browserVersion"></label></td>
    </tr>
    <tr>
        <td class="moreLightbgColor w-25"><label class="logFields" i18n='setup.common.operatingSystem'></label>
        </td>
        <td><label class="logFields1" id="operatingSystem"></label></td>
    </tr>

    </tbody>
</table>
