<div>
    <div class="validateTags" data-tab="electronic" i18n="billing.fileInsurance.electronic"></div>
    <div class="validateTags" data-tab="invoice" i18n="billing.fileInsurance.invoice"></div>
    <div class="validateTags" data-tab="patient" i18n="billing.fileInsurance.patient"></div>
</div>
<div>
    <div id="divElectricValidation" class="validateInfoSpace" data-tab="electronic">

    </div>
    <div id="divInvoiceValidation" class="validateInfoSpace" data-tab="invoice">

    </div>
    <div id="divPatientValidation" class="validateInfoSpace" data-tab="patient">

    </div>
</div>